*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* 顶部导航条 */
.top_nav{
    width: 100%;
    height: 40px;
    background:#f4f4f4;
    border:1px solid #e5e5e5;
    border-top:0;  
}
#d1{
    width: 1190px;
    height: 40px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
#d1>ul{
    display: flex;
    align-items: center; /*控制项目在交叉轴上的排列为垂直居中*/
    list-style: none;
    font-size:12px;
}
#d1>ul:first-child>li div{
    width: 20px;
    height: 20px;
    margin-right:5px ;
}
#d1>ul:first-child>li:first-child div{
    background-image: url(../img/icons.png);
    background-position: -3px -4px;
}
#d1>ul:first-child>li:nth-child(4) div{
    background-image: url(../img/icons.png);
    background-position: -49px -3px;
}
#d1>ul:first-child>li:nth-child(7) div{
    background-image: url(../img/icons.png);
    background-position: -68px -3px;
}
#d1>ul:first-child>li:nth-child(10) div{
    background-image: url(../img/icons.png);
    background-position: -49px -3px;
}
#d1>ul:last-child>li:nth-child(2) div{
    background-image: url(../img/icons.png);
    background-position: -88px -3px;
}
#d1>ul:last-child>li:nth-child(2) div{
    background-image: url(../img/icons.png);
    background-position: -88px -3px;
}
#d1>ul:last-child>li:nth-child(5) div,
#d1>ul:last-child>li:nth-child(11) div{
    margin-right: 0px;
    background-image: url(../img/icons.png);
    background-position: -121px 1px;
}
#d1 a{
    color:#333;
}
#d1 a:hover{
    color:#0cb95f;
    text-decoration: underline;
}
li.xian{
    width: 1px;
    height: 20px;
    border-left:1px solid #e5e5e5;
    margin:10px 10px 10px 10px;
}
#d1>ul:last-child>li:first-child{
    margin-right:20px;
}
#d1>ul:last-child li div{
    width: 20px; height: 20px;
    display:inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#d1>ul:last-child>li:nth-child(3){
    margin-right:36px;
} 
#d1>ul:last-child>li:nth-child(9),
#d1>ul:last-child>li:nth-child(10){
    margin-left:34px;
} 
#d1>ul:last-child>li:nth-child(12){
    margin-left:30px;
}
#d1>ul:last-child>li:nth-child(12) a{
    display:inline-block;
    width: 69px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background:#0cb95f;
    border-radius:2px;
    color:white;
    font-size: 12px;
    text-decoration: none;
}
/* 2.网页标题 */
.logo{
    width: 1190px;
    height: 140px;
    margin:0 auto; 
    position: relative;
}
/*2.1_logo*/
.logo>div{position: absolute;}
.logo>div:first-child{
    top: 32px;
}
.logo>div:nth-child(2){
    top: 39px;
    left: 340px;
}
.logo>div:last-child{
    top:39px;
    right: 0;
}
/*2.2s搜索框*/
.logo>div:nth-child(2)>div:first-child{
    width: 544px;
    height: 40px;
    border: 2px solid #0cb95f;
    position: relative;
}
.logo .choose{
    display: inline-block;
    width: 80px;
    height: 36px;
    position: relative;
    padding-left: 25px;
    border-right:1px solid #e5e5e5;
    line-height: 36px;
    color:#333;
  /*  position: absolute;
    top: 0;
    left: 0;*/
}
.logo .choose>span{
    width: 16px;
    height: 16px;
    position: absolute;
    top:11px;
    right: 8px;
    background:url(../img/icons.png) -109px 1px;
}
.logo .search{
    width: 370px;
    height: 36px;
    padding: 5px 10px;
    border:0;
    outline: 0;
    position: absolute;
    top: 0;
}
.logo .search_btn{
    display: inline-block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #0cb95f;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
}
.logo ul{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.logo a{
    font-size: 12px;
    color: #999;
}
.logo li{
    padding: 0 12px;
    line-height: 14px;
}
.logo li+li{
    height:14px;
    border-left:1px solid #e5e5e5;
}
.logo li span{
    color: #e50000;
}
.logo ul a:hover,.logo li span:hover{
    text-decoration: underline;
    color:#0cb95f;
}
/*2.3品质保障*/
.logo>div:last-child{
    width: 175px;
    height: 40px;
    background: url(../img/icons.png) -87px -263px;
}


/*主导航栏*/
.middle{
    width: 100%;
    background: #0cb95f;
}
.middle_nav{
    width: 1190px;
    height: 50px;
    margin:0 auto;
}
.middle_nav>ul{
    display: flex;
    align-items: center;
    line-height: 50px;
}
.middle_nav>ul>li:first-child{
    width: 230px;
    height: 50px;
    background: #0aa454;
    padding-left:20px;
}
.middle_nav>ul>li:first-child>a:hover{text-decoration: underline;}  
.middle_nav>ul>li+li{
    height: 50px;
    padding:0 30px;
}
.middle_nav>ul>li:nth-child(2){
    padding:0 50px;
}
.middle_nav>ul>li>a{
    color:#fff;
}
.middle_nav>ul>li+li>a:hover{
    text-decoration: underline;
}

/*面包屑*/
.breadcrumb{
    width: 1190px;
    margin: 20px auto;
}
.breadcrumb ul{
    display: flex;
    font: 12px 宋体;
    color:#333;
}
.breadcrumb ul li a{
    color:#333;
}
.breadcrumb ul li a:hover{
    color:#0cb95f;
    text-decoration: underline;
}
.breadcrumb ul li+li:before{
    display: inline-block;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    color: #6c757d;
    content: ">";
}

/*商品展示区*/
.show{
    width: 1190px;
    height: 555px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 420px;
}
.left>a{
    display: inline-block;
    width: 420px;
    height: 420px;
    border:1px solid #e5e5e5;
    position: relative;
}
.left img{
    width: 418px;
    height: 418px;
}
.left p{
    width: 100%;
    color: #c4af66;
    font-size: 12px;
    background: #ffffee;
    position: absolute;
    bottom: 4px;
    text-align: center;
}
.left>div:nth-child(2){
    width: 420px;
    display: flex;
    justify-content: space-between;
    margin:6px 0 16px;
}
.left>div:nth-child(2)>a{
    display: inline-block;
    width: 76px;
    height: 76px;
    border:1px solid #e5e5e5;
    padding:2px;
}
.left>div:nth-child(2)>a:hover{
    border-color: #ccc;
}
.left>div:nth-child(2) img{
    width: 70px;
    height: 70px;
}
.left>div:last-child{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.left>div:last-child>span{
    font-size: 12px;
    color: #333;
}
.left>div:last-child a{
    font: 12px 宋体;
    color:#999;
}
.left a>span{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/icons.png) -144px -25px;
    vertical-align: middle;
    margin-right: 6px;
}
/*center*/
.center{
    width: 510px;
    height: 535px;
    
}
.center>div:first-child{
    color: #333;
    font-size: 18px;
}
.center>div:first-child span{
    display: inline-block;
    width: 32px;
    height: 18px;
    margin-right: 4px;
    background: url(../img/icon_otc.png) center;
    vertical-align: middle;
}
.center>div:nth-child(2){
    width: 202px;
    height: 26px;
    margin: 10px 0 20px;
    padding:5px;
    border:1px solid #ff4000;
    color:#e4393c;
    font:12px 宋体;
    position: relative;
}
.center>div:nth-child(2)>a{
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 24px;
    top: 0;
    right: 0;
    background: #e4393c;
    color:#fff;
    text-align: center;
    line-height: 24px;
}
.center>div:nth-child(2)>a:hover{
    text-decoration: underline;
}
.dea,.dea1,.dea3{
    width: 100%;
    height: 51px;
    border-bottom:1px dashed #e5e5e5;
    display: flex;
}
.dea3{border-bottom:0;}
.title{
    width: 66px;
    font:12px 宋体;
    color: #999;
    text-align: right;
    line-height: 51px;
}
.content,.content1{
    margin-left:22px;
    width: 167px;
    font:12px 宋体;
    line-height: 51px;
    display: flex;
    justify-content: space-between;
}
.dea .content a{color:#999;}
.guige{
    width: 78px;
    height: 24px;
    border:1px solid #000;
    position: relative;
    margin:13px 0;
    line-height: 24px;
    padding: 0 4px ;
    color: #333;
}
.guige a{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 20px;
    height: 22px;
    background: url(../img/icons.png) -120px 3px;
}
.dea1{
    border:0;
    background: #f4f4f4;
}
.price{
    width: 211px;
    color: #e50000;
    font:700 16px Arial;
    margin-left: 22px;
    line-height: 51px;
}
.price span{
    display: inline-block;
    margin-left:6px;
    font: 700 30px Arial; 
    vertical-align: middle;
}
.sao{
    width: 211px;
    line-height: 51px;
    font:12px 宋体;
    padding-right: 10px;
    text-align: right;
}
.sao a{color: #0cb95f;} 
.sao span{
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.sao span:first-child{
    width: 20px;
    margin: 15px 0;
    background: url(../img/icons.png) -49px -3px;
    margin-right:6px;
}
.sao span:last-child{
    width: 12px;
    background: url(../img/icons.png) -349px -25px;
    margin-left: 6px;
}
.content1{
    width: 422px;
    justify-content: left;
}
.content1>span{
    margin-left:16px;
}
.count{
    display: inline-block;
    width: 90px;
    height: 22px;
    margin:15px 0;
    border:1px solid #000;
    position: relative;
}
.count>a{
    width: 20px;
    height: 20px;
}
.count a{
    position: absolute;
    top:0;
}
.count>a:first-child{
    left:0;
    border-right:1px solid #000;
    background: url(../img/icons.png) -168px -81px;
}
.count>a:last-child{
    right:0;
    border-left:1px solid #000;
    background: url(../img/icons.png) -195px -81px;
}
.count input{
    width: 50px;
    border:0;
    outline: 0;
    position: absolute;
    top:0;
    left: 20px;
    padding: 2px;
    text-align: center;
}
.tijiao{
    width: 100%;
    height: 80px;
    padding: 20px 0 20px 87px;
}
.btn1,.btn2{
    display: inline-block;
    width: 118px;
    height: 40px;
    border:1px solid #e50000;
    color:#e50000;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}
.btn2{
    width: 136px;
    background: #e50000;
    color:#fff;
    border: 0;
    margin-left:20px;
}
.baojia{
    width: 100%;
    height: 64px;
    padding: 10px 15px;
    border-top:1px dashed #e5e5e5;
    margin-top:16px;
}
.ah{padding: 2px;}
.text_gray_sm{
    font:12px 宋体;
    color:#999;
}

.biaoyu{
    margin-right:12px;
}
.bjtu{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/icons.png) -77px -46px;
    vertical-align: middle;
    margin-right: 6px;
}
.bjtu_bz{
    background: url(../img/icons.png) -95px -46px;
}
.bjtu_fp{
    background: url(../img/icons.png) -113px -46px;
}

/*right*/
.right{
    width: 220px;
    height: 510px;
    border:1px solid #e5e5e5;
    background:#f4f4f4;
    position: relative;
}
.right>div:first-child{padding: 10px 50px}
.right>div:first-child img{
    width: 120px;
    height: 60px;
}
.text_green_sm{
    color:#0cb95f;
    font:12px 宋体;
}
.dm{
    padding-right: 15px;
    text-align: center;
    margin: 0 15px 10px ;
    position: relative;
}
.jiantou{
    display: inline-block;
    width: 14px;
    height: 9px;
    background: url(../img/icons.png) -347px -30px;
    position: absolute;
    right: 0;
    top: 3px;
}
.text_sm{font:12px 宋体; color: black;}
.pingfen{
    font:12px 宋体;
    color:#e16070;
}
.right ul{
    width: 100%;
    display: flex;
    padding-bottom: 15px;
}
.right ul li{
    line-height: 36px;
    height: 48px;
    padding: 4px 14px;
    text-align: center;
}
.right ul li+li{
    border-left:1px dotted #ccc;
}
.text_777_sm{
    font:12px 宋体;
    color: #777;
}
.xing{
    display: inline-block;
    width: 70px;
    height: 14px;
    background: url(../img/icons.png) -233px -77px;
    vertical-align: bottom;
    margin-right: 4px;
}
.dian{padding: 0  15px 10px;}
.btn_ind{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 29px;
    background: #efefef;
    border: 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    line-height: 26px;

}
.btn_ind a{color: #333;}
.btn_ind a:hover{color: #0cb95f; text-decoration: underline;}

/*相关推荐+商品简介*/
/*店内搜索 */
.Intro{
    width: 1190px;
    margin: 20px auto 20px;
    display: flex;
}
.rela{
    width: 220px;
    margin-right: 20px;
}
.rela_one{
    margin-bottom:20px;
}
.m_title{
    width: 100%;
    height: 41px;
    border:1px solid #e5e5e5;
    background: #f4f4f4;
    padding: 0 20px;
    font:14px 微软雅黑;
    color: #333;
    line-height: 40px;
}
.shuruk{
    width: 156px;
    height: 32px;
    border: 1px solid #e5e5e5;
    padding: 3px;
    font-size: 12px;
}
.Intro_con{
    padding: 10px;
    border:1px solid #e5e5e5;
    border-top:0;
}
.Intro_con a{
    display: inline-block;
    width: 40px;
    height: 32px;
    background: #ccc;
    vertical-align: middle;
    padding: 8px 12px;
}
.Intro_con span{
    display: inline-block;
    width: 16px;
    height: 16px; 
    background: url(../img/icons.png) -391px -29px;
}
.Intro_con1{ 
    padding: 10px 22px;
    border:1px solid #e5e5e5;
    border-top:0;
}
/*相关分类*/
.Intro_con1>ul{
    display: flex;
    flex-wrap: wrap;
}
.Intro_con1>ul>li>a{
    display: inline-block;
    width: 80px;
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
}
.Intro_con1>ul>li>a:hover{color: #fff;background: #0cb95f;}
/*商家推荐*/
.yao{
    width: 178px;
    height: 178px;
    text-align: center;
    line-height: 178px;
    display: inline-block;
}
.yao img{
    width: 160px;
    height: 160px;
}
.g_link:hover{
    color: #0cb95f;
    text-decoration: underline;
}
.m_sm{margin:4px 0;}
.price_sm{
    font:14px 微软雅黑; 
    text-align: center;
    color: #e50000;
}

/*explain*/
.explain{
    width: 950px;
}
.explain>ul:first-child{
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #0cb95f;
    display: flex;
}
/*奇数位置的菜单*/
.explain>ul:first-child>li:nth-child(odd)>a{
    display: inline-block;
    width:106px;
    height: 50px;
    background:#f7f7f7;
    padding: 0 25px;
    font: 14px 微软雅黑; 
    color: #333;
    line-height: 50px;
}
.explain>ul:first-child>li:nth-child(odd)>a:hover{
    background: #0cb95f;
    color: #fff;
}
/*偶数位置的菜单*/
.explain>ul:first-child>li:nth-child(even){
    width: 1px;
    height: 50px;
}

/*提示*/
.point{
    width: 100%;
    height: 58px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-top: 10px;
}
.mt_sm{margin-top:4px;}

/*安全提示*/
.safe{
    height: 36px;
    margin-top: 10px;
    padding: 7px;
    border: 1px solid #e5e5e5;
    color: #e16070;
    font: 12px 宋体;
}
.warn{
    width: 24px;
    height: 22px;
    display: inline-block;
    background: url(../img/icons.png) -73px -212px;
    vertical-align: middle;
    margin-right: 8px;
}

/*商品详情*/
.med_name,.med_name1{
    width: 100%;
    height: 40px;
    background: #eefaf4;
    margin-top:10px;
}
.med_name>div{
    width: 60px;
    height: 40px;
    background: #0cb95f;
    display: inline-block;
    padding: 5px 17px;
}
.med_name>div>span,.med_name1>div>span{
    display: inline-block;
    width: 26px;
    height: 28px;
    background: url(../img/icons.png) -305px -78px;
    vertical-align: middle;
}
.med_name>span{
    vertical-align: middle;
    margin-left: 8px;
    color: #333;
}
.med_detail{
    height: 132px;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
}
.med_detail>li{
    width: 424px;
    height: 30px;
    line-height: 30px;
}
.ml_md{margin-left: 11px;}
.safe>div{display: inline-block;}

/*商品说明*/
.instru{
    width: 100%;
}
.instru>ul{
    display: flex;
}
.instru_name,.instru_name1,.instru_name2{
   width: 156px;
   height:  45px;
   background: #f5f5f5;
   border: 1px solid #e5e5e5;
   border-top:0;
   line-height: 45px;
   text-align: center;
   font-size: 14px;
   color: #333;
}
.instru_detail,.instru_detail1,.instru_detail2{
    width: 793px;
    height: 45px;
    border: 1px solid #e5e5e5;
    border-top:0;
    border-left: 0;
    font:12px 宋体;
    color:#333; 
    line-height: 45px;
    padding: 0 20px;
}
.instru_name1,.instru_detail1{
    height: 69px;
}
.instru_detail1{
    padding: 10px 20px;
    line-height: 25px;
}
.instru_name2,.instru_detail2{
    height: 143px;
    line-height: 143px;
}
.instru_detail2{
    padding: 10px 20px;
}
.instru_detail2 img{
    width: 120px;
    height: 120px;
    border:1px solid #e5e5e5;
}
.med_name>div>.tu_icon{
    background: url(../img/icons.png) -334px -76px;
}
.tu_display{
    width: 100%;
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tu_display>a{
    display: inline-block;
    width: 470px;
    height: 470px;
    border:1px solid #e5e5e5;
}
.tu_display>a>img{
    width: 462px;
    height: 462px;
}
.mt_ten{margin-top:10px;}
.med_name>div>.tu_icon1{
    background: url(../img/icons.png) -363px -76px;
}
.shijing{
    width: 100%;
    height: 241px;
}
.shijing>a>img{
    width: 310px;
    height: 210px;
}
.med_name>div>.tu_icon2{
    background: url(../img/icons.png) -363px -76px;
}
.natural{
    display: flex;
    justify-content: space-between;
}
.natural>li{
    width: 310px;
    height: 274px;
    border:1px solid #e5e5e5;
    padding: 4px;
}
.natural>li img{
    width: 100%;
}
.med_name>div>.tu_icon3{
    background: url(../img/icons.png) -414px -77px;
}
.mt_thirty{margin-top: 30px;}
.sever{
    width:950px;
    height: 104px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
}
.sever>li{
    width: 451px;
    display: flex;
}
.sever>li>div:first-child{
    width: 62px;
    height: 62px;
    background: url(../img/icons.png) -4px -132px;
    margin-right: 10px;
}
.pt-2{
    margin-top:2px;
}
.pt-6{
    margin-top:6px;
}
.sever>li>div.fp{
    background: url(../img/icons.png) -66px -132px;
}
.med_name2{
    width: 100%;
    height: 42px;
    background: #f4f4f4;
    border: 1px solid #e5e5e5;
    padding: 10px 20px;
    margin-top:10px;
}
.return{
    margin-top: 10px;
}
.xuhao{
    color: #0cb95f;
    font: 20px 微软雅黑;
    margin-right: 10px;
}
.return_det{
    margin-top: 10px;
    padding-left: 32px;
    font:12px 宋体;
    color:#333; 
    line-height: 24px;
}
.return>li{margin-top:20px;}
.circle{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #666;
    margin-right: 8px;
}
.flow{
    display: flex;
}
.flow>li>div:first-child{
   width: 172px;
   height: 62px;
   background: #e16070;
   border-radius: 5px;
   margin-right: 30px;
   padding: 10px;
   color: #fff;
   font: 12px 宋体;
   position: relative;
   line-height: 20px;
}
.flow>li>div>div{
    position: absolute;
    width: 10px;
    height: 32px;
    background: url(../img/icons.png) -237px -120px;
    right: -10px;
    top: 15px;
}
.med_name1>div{
    width: 60px;
    height: 40px;
    background: #0cb95f;
    padding: 7px 12px;
    display: inline-block;
}
.med_name1>div>.tu_icon4{
    width: 36px;
    background: url(../img/icons.png) -410px -380px;
}
.lump{
    border-left: 3px solid #0cb95f;
    padding-left:16px;
    margin-left: 10px;
    font: 14px 宋体;
    color:#333;
}
.med_name>div>.tu_icon4{
    background: url(../img/icons.png) -472px -77px;
}
.fangkuai{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #e16070;
    vertical-align:middle;
    margin-right: 20px;
}
.juzhong{vertical-align: middle;}

/*同类商品*/
.similar{
    width: 1190px;
    margin: 20px auto 20px;
}
.dis_img{
    display: flex;
    border: 1px solid #e5e5e5;
    border-top:0;
}
.dis_img>li{
    width:196px;
    height: 255px;
    padding: 15px 18px; 
}

/*热门链接*/
.hot{
    width: 1190px;
    height: 186px;
    margin: 0 auto;
    border:1px solid #e5e5e5; 
    margin-bottom:10px;
}
.hot>div:first-child{
    width: 100%;
    height: 41px;
    padding:0 10px 0 20px;
    background: #f4f4f4;
    border-bottom:1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color:#666;
}
.hot>div:first-child{
    justify-content: left;
    padding-left:0;
}
.hot>div:first-child>div{
    width: 137px;
    text-align: center;
}

.hot>ul{
    width: 100%;
    height: 145px;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;

}
.hot>ul>li{
    width: 110px;
    margin-bottom:20px;
}
.hot a{
    font: 12px 宋体;
    color:#999;
}
.hot a:hover,.help>ul>li a:hover{
    color:#0cb95f;
    text-decoration: underline;
}

/*标签*/
.la,.dire{
    width: 1190px;
    margin: 0 auto 20px;
    height: 46px;
    padding: 10px 20px;
    border:1px solid #e5e5e5;
}
/*说明书*/
.dire{
    height: 72px;
    color:#999;
    font:12px 宋体;
    line-height: 26px;
}
.dire a{color: #333;}
/* footer1*/
.footer{
    width: 100%;
    height: 176px;
    background: #f4f4f4;
    border-top:1px solid #e8e8e8;
    padding:24px 0; 
}
.help{
    width: 1190px;
    margin: 0 auto;
    color:#6a6a6a;
    font: 14px 宋体;
    display: flex;
}
.help>ul>li:first-child{
    margin-bottom:16px;
}
.help>ul>li{
    width: 147px;
    margin-bottom:10px;
    text-align: center;
}
.help>ul>li a{
    font-size: 12px;
    color:#888;
}
.help>ul>li span{
    font-size:12px;
}
.help>ul:last-child>li
{
    width: 110px;
}

/*footer2*/
footer{
    width: 100%;
    height: 324px;
    background: #444a50;
    padding: 20px 0;
    font-size: 12px;
    color:#959aa0;
}
footer>div{
    width: 1190px;
    margin:0 auto;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
}
footer ul li{
    padding: 0 14px;
    margin-bottom:18px;
    border-left: 1px solid #666;
}
footer ul>li:first-child{
    border:0;
    padding-left: 0;
}
footer ul:first-child a,
footer ul:nth-child(2) a{
    color:#dee5ea;
}
footer a:hover{text-decoration: underline;}
footer ul a{
    color: #959aa0;
}
footer ul:nth-child(4)>li img{
    vertical-align: bottom;
} 
.yiyuan li+li{
    border:0;
    padding-left: 2px;
}
.yiyuan li a{
    display: inline-block;
    width: 100px;
    height: 40px;
    background: url(../img/icon_rz.gif);
}
.yiyuan li:nth-child(2) a{
    background: url(../img/icon_rz.gif) 0 -40px;
}
.yiyuan li:nth-child(3) a{
    background: url(../img/icon_rz.gif) 0 -80px;
}
.yiyuan li:nth-child(4) a{
    background: url(../img/icon_rz.gif) 0 -120px;
}
.yiyuan li:nth-child(5) a{
    background: url(../img/icon_rz.gif) 0 -160px;
}
.yiyuan li:nth-child(6) a{
    background: url(../img/icon_rz.gif) 0 -200px;
}
.yiyuan li:nth-child(7) a{
    background: url(../img/icon_rz.gif) 0 -240px;
}
.yiyuan li:last-child a{
    background: url(../img/icon_rz.gif) 0 40px;
}
#d2{ 
    line-height: 20px;
}














































































































































































































