/* 顶部导航条 */
.top_nav{
    width: 100%;
    height: 40px;
    background:#f4f4f4;
    border:1px solid #e5e5e5;
    border-top:0;  
}
#d1{
    width: 1190px;
    height: 40px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
#d1>ul{
    display: flex;
    align-items: center; /*控制项目在交叉轴上的排列为垂直居中*/
    list-style: none;
    font-size:12px;
}
#d1>ul:first-child>li div{
    width: 20px;
    height: 20px;
    margin-right:5px ;
}
#d1>ul:first-child>li:first-child div{
    background-image: url(../img/icons.png);
    background-position: -3px -4px;
}
#d1>ul:first-child>li:nth-child(4) div{
    background-image: url(../img/icons.png);
    background-position: -49px -3px;
}
#d1>ul:first-child>li:nth-child(7) div{
    background-image: url(../img/icons.png);
    background-position: -68px -3px;
}
#d1>ul:first-child>li:nth-child(10) div{
    background-image: url(../img/icons.png);
    background-position: -49px -3px;
}
#d1>ul:last-child>li:nth-child(2) div{
    background-image: url(../img/icons.png);
    background-position: -88px -3px;
}
#d1>ul:last-child>li:nth-child(2) div{
    background-image: url(../img/icons.png);
    background-position: -88px -3px;
}
#d1>ul:last-child>li:nth-child(5) div,
#d1>ul:last-child>li:nth-child(11) div{
    margin-right: 0px;
    background-image: url(../img/icons.png);
    background-position: -121px 1px;
}
#d1 a{
    color:#333;
}
#d1 a:hover{
    color:#0cb95f;
    text-decoration: underline;
}
li.xian{
    width: 1px;
    height: 20px;
    border-left:1px solid #e5e5e5;
    margin:10px 10px 10px 10px;
}
#d1>ul:last-child>li:first-child{
    margin-right:20px;
}
#d1>ul:last-child li div{
    width: 20px; height: 20px;
    display:inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#d1>ul:last-child>li:nth-child(3){
    margin-right:36px;
} 
#d1>ul:last-child>li:nth-child(9),
#d1>ul:last-child>li:nth-child(10){
    margin-left:34px;
} 
#d1>ul:last-child>li:nth-child(12){
    margin-left:30px;
}
#d1>ul:last-child>li:nth-child(12) a{
    display:inline-block;
    width: 69px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background:#0cb95f;
    border-radius:2px;
    color:white;
    font-size: 12px;
    text-decoration: none;
}
/* 2.网页标题 */
.logo{
    width: 1190px;
    height: 140px;
    margin:0 auto; 
    position: relative;
}
/*2.1_logo*/
.logo>div{position: absolute;}
.logo>div:first-child{
    top: 32px;
}
.logo>div:nth-child(2){
    top: 39px;
    left: 340px;
}
.logo>div:last-child{
    top:39px;
    right: 0;
}
/*2.2s搜索框*/
.logo>div:nth-child(2)>div:first-child{
    width: 544px;
    height: 40px;
    border: 2px solid #0cb95f;
    position: relative;
}
.logo .choose{
    display: inline-block;
    width: 80px;
    height: 36px;
    position: relative;
    padding-left: 25px;
    border-right:1px solid #e5e5e5;
    line-height: 36px;
    color:#333;
  /*  position: absolute;
    top: 0;
    left: 0;*/
}
.logo .choose>span{
    width: 16px;
    height: 16px;
    position: absolute;
    top:11px;
    right: 8px;
    background:url(../img/icons.png) -109px 1px;
}
.logo .search{
    width: 370px;
    height: 36px;
    padding: 5px 10px;
    border:0;
    outline: 0;
    position: absolute;
    top: 0;
}
.logo .search_btn{
    display: inline-block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #0cb95f;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
}
.logo ul{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.logo a{
    font-size: 12px;
    color: #999;
}
.logo li{
    padding: 0 12px;
    line-height: 14px;
}
.logo li+li{
    height:14px;
    border-left:1px solid #e5e5e5;
}
.logo li span{
    color: #e50000;
}
.logo ul a:hover,.logo li span:hover{
    text-decoration: underline;
    color:#0cb95f;
}
/*2.3品质保障*/
.logo>div:last-child{
    width: 175px;
    height: 40px;
    background: url(../img/icons.png) -87px -263px;
}
