/*主导航栏*/
.middle{
    width: 100%;
    background: #0cb95f;
}
.middle_nav{
    width: 1190px;
    height: 50px;
    margin:0 auto;
}
.middle_nav>ul{
    display: flex;
    align-items: center;
    line-height: 50px;
}
.middle_nav>ul>li:first-child{
    width: 230px;
    height: 50px;
    background: #0aa454;
    padding-left:20px;
}
.middle_nav>ul>li:first-child>a:hover{text-decoration: underline;}  
.middle_nav>ul>li+li{
    height: 50px;
    padding:0 30px;
}
.middle_nav>ul>li:nth-child(2){
    padding:0 50px;
}
.middle_nav>ul>li>a{
    color:#fff;
}
.middle_nav>ul>li+li>a:hover{
    text-decoration: underline;
}
/*导航栏选中*/
.middle_nav>ul>li:nth-child(5){
    background:#0aa454;
}

.content{
	width: 1190px;
	margin: 0 auto;
}
.left{
	width: 950px;
}
.sear_hosp{
	display: flex;
	justify-content: space-between;
	height: 41px;
	margin-top: 10px;
	line-height: 40px;
	border-bottom: 1px solid #0cb95f;
}
.sear_hosp>a{
	font-size: 12px;
	color: #999;
	margin-right: 10px;
}
.sear_hosp>a:hover{text-decoration: underline;}
.sear_hosp>div{
	width: 120px;
	height: 40px;
	background: #0cb95f;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.city{
	display: flex;
	height: 41px;
	margin-top: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.city>div{
	width: 120px;
	height: 40px;
	color: #333;
	text-align: center;
	line-height: 40px;
	position: relative;
}
.city>div>span{
	width: 5px;
	height: 18px;
	background:#e51070;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 12px;
}
.nav{
	display: flex;
}
.nav>li:first-child{
	border-bottom: 1px solid #0cb95f;
}
.nav>li{
	width: 90px;
	height: 36px;
	margin-top: 4px;
	text-align: center;
	line-height: 36px; 
	position: relative;
}
.nav>li>a{
	color: #333;
	font-size: 12px;
	font-family: 宋体;
}
.nav>li>a:hover{
	text-decoration: underline;
	color:#0cb95f; 
}
.nav>li>span{
	position: absolute;
	display: inline-block;
	width: 9px;
	height: 7px;
	bottom: -1px;
	left: 40px;
	background: url(../img/icons.png) -485px -179px;
}

/*医院*/
.hospital{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	border-bottom: 1px dotted #e5e5e5;
}
.hospital>li>a{
	display: inline-block;
	width: 276px;
	height: 28px;
	padding-left:15px; 
	position: relative;
	color: #333;
	font-size: 12px;
	line-height: 28px;
}
.hospital>li>a:hover{text-decoration: underline;color: #0cb95f;}
.hospital span{
	width: 4px;
	height: 4px;
	border-radius: 2px;
	position: absolute;
	background: #666;
	top: 13px;
	left: 5px;
}

/*地区*/
.local{
	height: 123px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	border-bottom: 1px dotted #e5e5e5;
}
.local>li{
	width: 295px;
	height: 41px;
	padding: 8px 0;
}
.local>li:nth-child(2),.local>li:nth-child(5){
	width: 380px;
}
.local>li:nth-child(3),.local>li:nth-child(6){
	width: 275px;
}
.local>li>ul{
	display: flex;
}
.local>li>ul>li:first-child{
	width: 60px;
	height: 25px;
	background: #e16070;
	color: #fff;
	font: 12px 宋体;
	text-align: center;
	line-height: 25px;
}
.local>li>ul>li+li{
	margin-left: 10px;
}
.local a{
	color: #666;
	font-size: 12px;
	font-family: 宋体;
}

/*专科医院*/
.classify{
	height: 110px;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
}
.classify a{
	display: inline-block;
	width: 60px;
	height: 30px;
	margin-right: 10px;
	color: #333;
	font-size: 12px;
}
.classify a:hover{
	text-decoration: underline;
	color: #0cb95f;
}

/*right*/
.content>div:first-child{
	display: flex;
	justify-content: space-between;
}
.right{
	width: 220px;
	margin-top: 10px;
}
.hospital_class{
	border:1px solid #e5e5e5;
	height: 292px;
}
.hospital_class>div{
  	height: 40px;
 	padding-left: 12px;
 	font-size: 14px;
 	font-weight: 700;
  	color: #666;
  	background: #f4f4f4;
  	line-height: 40px;
}
.hospital_class>ul{
	height: 250px;
	padding: 22px 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.hospital_class a{
	display: inline-block;
	width: 87px;
	height: 30px;
	margin-bottom: 14px;
	border:1px solid #e5e5e5;
	border-radius: 40px;
	color: #333;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.hospital_class a:hover{
	background: #0cb95f;
	border:1px solid #0cb95f;
	text-decoration: underline;
	color: #fff;
}
.right>div:last-child{
	width: 220px;
	height: 220px;
	margin-top: 20px;
}

/*banner*/
.banner{
	height: 110px;
	margin-top: 20px;
}

/*分类*/
.cla{
  width: 1190px;
  margin: 20px auto ;
  display: flex;
  justify-content: space-between;
}
.cla>li{
  width: 190px;
  height: 170px;
  padding: 15px 20px;
  background: #f4f4f4;
}
.cla li h3 a{
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
}
.list{
  display: flex;
  flex-wrap: wrap;
}
.list li{
  width: 75px;
  height: 24px;
  padding: 5px 0;
  line-height: 14px;
}
.cla li:hover{
  background: #0cb95f;
}
.cla li:hover>.list{
  background: #0cb95f;
}
.cla li:hover a{
  color: #fff;
}
.cla li ul li>a{
  color: #666;
  font-size: 12px;
  vertical-align: top;
}
.cla li a:hover{text-decoration: underline;}

/*所有医院*/
.hos_all{
	height: 475px;
	border:1px solid #e5e5e5;
}
.province{
	height: 147px;
	padding: 5px 35px;
	border-bottom: 1px dashed #e5e5e5;
}
.province>ul{
	display: flex;
	flex-wrap: wrap;
}
.province li{
	width: 110px;
	height: 34px;
	padding: 10px 0;
}
.province li:first-child{
	color: #999;
	font-size: 12px;
	font-weight: 700;
}
.province li a{
	color: #999;
	font: 12px 宋体;
	height: 14px;
	display: inline-block;
	vertical-align: top;
}
.rank{
	height: 45px;
}

/*热门链接*/
.hot{
    width: 1190px;
    height: 186px;
    margin: 20px auto;
    border:1px solid #e5e5e5; 
}
.hot>div:first-child{
    width: 100%;
    height: 41px;
    padding:0 10px 0 20px;
    background: #f4f4f4;
    border-bottom:1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color:#666;
}
.hot>div:first-child{
    justify-content: left;
    padding-left:0;
}
.hot>div:first-child>div{
    width: 137px;
    text-align: center;
}

.hot>ul{
    width: 100%;
    height: 145px;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;

}
.hot>ul>li{
    width: 110px;
    margin-bottom:20px;
}
.hot a{
    font: 12px 宋体;
    color:#999;
}
.hot a:hover,.help>ul>li a:hover{
    color:#0cb95f;
    text-decoration: underline;
}
