/* 顶部导航条 */
.top_nav{
    width: 100%;
    height: 40px;
    background:#f4f4f4;
    border:1px solid #e5e5e5;
    border-top:0;  
}
#d1{
    width: 1190px;
    height: 40px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
#d1>ul{
    display: flex;
    align-items: center; /*控制项目在交叉轴上的排列为垂直居中*/
    list-style: none;
    font-size:12px;
}
#d1>ul:first-child>li>div:first-child{
    width: 20px;
    height: 20px;
    margin-right:5px;
}
#d1>ul:first-child>li:first-child div{
    background-image: url(../img/icons.png);
    background-position: -3px -4px;
}
#d1>ul:first-child>li:nth-child(4) div{
    background-image: url(../img/icons.png);
    background-position: -49px -3px;
}
#d1>ul>li{
    position: relative;
}
/*鼠标经过微信差价样式*/
.icon_wx{
    width: 122px;
    height: 122px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top:29px;
    left: -50px;
    z-index: 2;
    display: none;
}
.icon_wx>img{
    width: 120px;
    height: 120px;
}

#d1>ul:first-child>li:nth-child(4):hover,
#d1>ul:first-child>li:nth-child(7):hover,
#d1>ul:first-child>li:nth-child(4):hover>div:last-child{
    display: block;
}
#d1>ul:first-child>li:nth-child(7):hover>div:last-child{
    display: block;
}
#d1>ul:first-child>li:nth-child(10):hover>div:last-child{
    display: block;
}
#d1>ul:first-child>li:nth-child(7) div{
    background-image: url(../img/icons.png);
    background-position: -68px -3px;
}
#d1>ul:first-child>li:nth-child(10) div{
    background-image: url(../img/icons.png);
    background-position: -49px -3px;
}
.shop_car{
    background-image: url(../img/icons.png);
    background-position: -88px -3px;
}

#d1>ul:last-child>li:nth-child(4) div,
.lead>div{
    margin-right: 0px;
    background-image: url(../img/icons.png);
    background-position: -121px 1px;
}
#d1 a{
    color:#333;
}
#d1 a:hover{
    color:#0cb95f;
    text-decoration: underline;
}
li.xian{
    width: 1px;
    height: 20px;
    border-left:1px solid #e5e5e5;
    margin:10px 10px 10px 10px;
}
#d1>ul:last-child>li:first-child{
    margin-right:20px;
}
#d1>ul:last-child li div{
    width: 20px; height: 20px;
    display:inline-block;
    vertical-align: middle;
}
/*购物车*/
.shop{
    width: 127px;
    height: 40px;
    margin-right:16px;
    line-height: 36px;
    text-align: center;
    z-index: 10;
    border-left:1px solid #f4f4f4;
    border-right:1px solid #f4f4f4;
} 
#d1>ul>li ul.res{
    width: 325px;
    height: 41px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    background: #fff;
    padding: 0 20px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    left:-1px;
    top: 40px;
    display: none;
}
.shop:hover{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    border-top: 0;
    cursor:pointer;
}
#d1>ul>.shop:hover>ul.res{display: block;}
#d1>ul>.shop:hover>a{color: #e50000;}
.shop>a{vertical-align: middle;}
#d1>ul>li ul.res a{color: #0cb95f;}
/*个人中心*/
.self{
    width: 100px;
    height: 40px;
    border-left:1px solid #f4f4f4;
    border-right:1px solid #f4f4f4;
    position: relative;
    padding-left: 15px;
    text-align: left;
    line-height: 40px;
    z-index: 10;
}
#d1>ul>.self:hover>a{
    color: #0cb95f;
}
#d1>ul>li.self:hover div,
#d1>ul>li.lead:hover>div{
    margin-right: 0px;
    background-image: url(../img/icons.png);
    background-position: -136px 1px;
}
.self:hover{
    background: #fff;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}
.self:hover>ul{display: block;}
.self>ul{
    width: 100px;
    height: 120px;
    position: absolute;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-top: 0;
    left: -1px;
    top: 40px;
    display: none;
    text-align:left;
}
.self>ul>li{
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
}
.self>ul>li:hover{
    background: #f4f4f4;
    cursor: pointer;
}
#d1 .self:hover>a,
#d1 .lead:hover>a{color: #0cb95f; text-decoration: underline;}
#d1>ul:last-child>li:nth-child(9){
    margin-right:10px;
} 
/*网址导航*/
.lead{
    width: 110px;
    height: 40px;
    border-left:1px solid #f4f4f4;
    border-right:1px solid #f4f4f4;
    position: relative;
    line-height: 40px;
    text-align: center;
    z-index: 10;
}
.lead:hover{
    background: #fff;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}
.lead>ul{
    width: 452px;
    height: 92px;
    padding: 10px 15px;
    position: absolute;
    border: 1px solid #e5e5e5;
    border-top: 0;
    left: -343px;
    top: 40px;
    background: #fff;
    color: #0cb95f;
    font-size:14px; 
    display: none;
}
.lead>ul>li:nth-child(2){
    float: left;
    width: 1px;
    height: 60px;
    background: #ddd;
    margin: 0 24px;
}
#d1>ul li.health>div{
    width: 180px;
    height: 26px;
    text-align: left;
    line-height: 26px;
}
.health{
    width: 180px;
    float: left;
}
.health>ul{
    display: flex;
    flex-wrap: wrap;
    width: 198px;
}
.health>ul>li{line-height: 22px;}
.health>ul>li>a{
    width: 58px;
    height: 22px;
    display: block;
    font-size: 12px;
    color: #333;
    text-align: left;
}
.lead:hover>ul{display: block;}
/*商家入驻*/
#d1 .join{
    margin-left:30px;
}
#d1 .join>a{
    display:inline-block;
    width: 69px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background:#0cb95f;
    border-radius:2px;
    color:white;
    font-size: 12px;
    text-decoration: none;
}

/* 2.网页标题 */
.logo{
    width: 1190px;
    height: 140px;
    margin:0 auto; 
    position: relative;
}
/*2.1_logo*/
.logo>div{position: absolute;}
.logo>div:first-child{
    top: 32px;
}
.logo>div:nth-child(2){
    top: 39px;
    left: 340px;
}
.logo>div:last-child{
    top:39px;
    right: 0;
}
/*2.2s搜索框*/
.logo>div:nth-child(2)>div:first-child{
    width: 544px;
    height: 40px;
    border: 2px solid #0cb95f;
    position: relative;
}
.logo .choose{
    display: inline-block;
    width: 80px;
    height: 36px;
    position: relative;
    padding-left: 25px;
    border-right:1px solid #e5e5e5;
    line-height: 36px;
    color:#333;
}
.logo .choose>span{
    width: 16px;
    height: 16px;
    position: absolute;
    top:11px;
    right: 8px;
    background:url(../img/icons.png) -109px 1px;
}
.logo .search{
    width: 370px;
    height: 36px;
    padding: 5px 10px;
    border:0;
    outline: 0;
    position: absolute;
    top: 0;
}
.logo .search_btn{
    display: inline-block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #0cb95f;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
}
.logo ul{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.logo a{
    font-size: 12px;
    color: #999;
}
.logo li{
    padding: 0 12px;
    line-height: 14px;
}
.logo li+li{
    height:14px;
    border-left:1px solid #e5e5e5;
}
.logo li span{
    color: #e50000;
}
.logo ul a:hover,.logo li span:hover{
    text-decoration: underline;
    color:#0cb95f;
}
/*2.3品质保障*/
.logo>div:last-child{
    width: 175px;
    height: 40px;
    background: url(../img/icons.png) -87px -263px;
}

/*主导航栏*/
.middle_nav{
    width: 1190px;
    height: 50px;
    margin:0 auto;
}
.middle_nav>ul{
    display: flex;
    align-items: center;
    line-height: 50px;
}
.middle_nav>ul>li:first-child{
    width: 230px;
    height: 50px;
    background: #0cb95f;
    padding-left:20px;
}
.middle_nav>ul>li:first-child>a{color:#fff;}
.middle_nav>ul>li:first-child>a:hover{text-decoration: underline;}  
.middle_nav>ul>li+li{
    height: 50px;
    color: #fff;
    padding:0 30px;
}
.middle_nav>ul>li:nth-child(2){
    padding:0 50px;
}
.middle_nav>ul>li+li>a{
    color:#333;
}
.middle_nav>ul>li+li>a:hover{
    color:#0cb95f;
    text-decoration: underline;
}

/*banner*/
.ban{
    width: 100%;
    height: 390px;
    background:#80d4b3;
}
.ban>div{
    width: 1190px;
    height: 390px;
    margin: 0 auto;
    position: relative;
}
.ban>div>.ass{
    width: 230px;
    height: 390px;
    border-top: 0 ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.ass>ul{
    width: 100%;
    float: left;
    background: #fff;
    opacity: .9;
}
.ass>ul>li:last-child{
    border-bottom: 0 !important;
}
.ass>ul>li:fisrt-child{
    border-top: 0 !important;
}
.ass>ul>li{
    width: 100%;
    height: 65px;
    position: relative;
    border-top:1px solid #fff;
    border-bottom:1px dashed #e5e5e5;
    border-left:1px solid #e5e5e5;
    border-right: 1px solid  #e5e5e5;
    padding: 10px 0 10px 50px;
}
/*jquery控制每个分类hover时添加背景色，底部边框变实线，顶部边框变颜色，右侧边框去掉*/
.ass>ul>li.hover{
   background: #f4f4f4;
   border-bottom:1px solid #e5e5e5;
   border-top:1px solid #e5e5e5;
   border-right: 0;
}
/*hover时显示的框*/
.zxyp{
    width: 780px;
    height:392px;
    background: #f4f4f4;
    padding:10px 20px;
    border: 1px solid #e5e5e5;
    border-left: 0;
    position: absolute;
    top: -1px;
    left: 229px;
    display: none;
    z-index: 1000;
}
.zxyp>.left1{
    float: left;
    margin-right: 40px;
}
.cw{
    width: 520px;
    border-bottom: 1px dashed #e5e5e5;
    display: flex;
    padding: 10px 0;
}
.cw>div:first-child{
    width: 80px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.cw>div:first-child>a{
    width: 60px;
    height: 20px;
    display: inline-block;
    background: #0cb95f;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
}
.jiantou{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #099a4f;
    vertical-align: middle;
}
.jiantou>div{
    width: 20px;
    height: 20px;
    background: url(../img/icons.png) -11px -21px;
}
.cw>div:nth-child(2){
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
}
.cw>div:nth-child(2)>a{
    margin: 0 8px;
    color: #333;
    font-size: 12px;
}
.zxyp>.right{
    float: right;
}
/*设置每个分类hover时zxyp的top值*/
.ass>ul>li:nth-child(2)>.zxyp{
    top:-66px;
}
.ass>ul>li:nth-child(3)>.zxyp{
    top:-131px;
}
.ass>ul>li:nth-child(4)>.zxyp{
    top:-196px;
}
.ass>ul>li:nth-child(5)>.zxyp{
    top:-261px;
}
.ass>ul>li:nth-child(6)>.zxyp{
    top:-326px;
}
/*设置每个分类hover时去掉右侧的边框*/
.ass>ul>li:hover{
    border-right:0;
}
/*设置每个分类hover时让该类的.zxyp显示*/
.ass>ul>li:hover .zxyp{
    display: block;
}
/*进入分类时更改ul的透明度*/
.ass>ul:hover{opacity: 1;}

.ass>ul>a:hover{
    text-decoration: underline;
    color: #0cb95f;
}
.ass>ul>li>a{
    font-size: 14px;
    color:#333;
}
.ass>ul>li>div>a{
    font-size: 12px;
    color: #999;
}
.ass>ul>li>div>a+a{
    margin-left:4px;
}

.ban .ass li>div:first-child{
    width: 24px;
    height: 24px;
    position: absolute;
    top:16px;
    left:16px;
    background: url(../img/icons.png) -132px -154px;
}
.ban .ass li:nth-child(2)>div:first-child{
    background: url(../img/icons.png) -156px -154px;
}
.ban .ass li:nth-child(3)>div:first-child{
    background: url(../img/icons.png) -180px -154px;
}
.ban .ass li:nth-child(4)>div:first-child{
    background: url(../img/icons.png) -204px -154px;
}
.ban .ass li:nth-child(5)>div:first-child{
    background: url(../img/icons.png) -252px -154px;
}
.ban .ass li:nth-child(6)>div:first-child{
    background: url(../img/icons.png) -228px -154px;
}
/*中间banner位*/
.banner{
    position: absolute;
    top: 0;
    left: 230px;
    z-index:0;
}
.banner>li{
    position: relative;
    overflow:hidden;
    
}

/*当前显示的图片的位置上跑马灯为绿色*/
.banner>ul.no>li.active{
    background:#0cb95f !important;
}
.banner>ul.show>li.active{
    background:#0cb95f !important;
    opacity: 1 !important;
}
.banner.transition{
    transition:all .5s linear;
}
.left, .right{
    width: 30px;
    height: 60px;
    position: absolute;
    top:165px;
    background: #999 url(../img/icons.png) -348px -138px;
    border-radius:2px;
    opacity: 0.3;
    z-index: 0;
}
.right{
    right: 0px;
    background-image: url(../img/icons.png) ;
    background-position:-382px -138px;
}


.banner>ul.no{
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 0;
}
.banner>ul.no>li:nth-child(even){
    width: 1px;
    height: 4px;
    background: #666;
}
.banner>ul.no>li:nth-child(odd){
    width: 155.2px;
    height: 4px;
    background: #666;
    opacity: .6;
}
.banner:hover>.left,
.banner:hover>.right{
    opacity: .7;
}

.banner>ul.show{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 26px;
    z-index: 0;
}
.show a{line-height: 20px;color: #fff;}
.banner>ul.show>li,
.banner>ul.no>li{float: left;}
.banner>ul.show>li:nth-child(odd){
    width: 155.2px;
    height: 26px;
    background: #666;
    text-align: center;
    line-height: 26px;
    opacity: .6;
}
.banner>ul.show>li:nth-child(even){
    width: 1px;
    height:26px;
    background: #666;
}
.banner:hover>.show{
    display: block;
}
.banner:hover>.no{
    display: none;
}
.banner .show>li:nth-child(odd):hover{
    background: #0cb95f;
    cursor: pointer;
    opacity: 1;
}
/*右边*/
.ban>div>div:nth-child(3){
    width: 180px;
    height: 390px;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
}
/*限时购*/
.time{
    width: 1190px;
    margin: 0 auto;
}
.title{
    width: 100%;
    height: 28px;
    margin:30px 0 10px;
}
.title>div{
    display: inline-block;
    width: 45px;
    height: 27px;
    background: url(../img/xianshi.png) -100px -5px;
    vertical-align: middle;
}
.title>span{
    font-size: 20px;
    color:#333;
    vertical-align: middle;
    margin-left:10px;
}
.comm{
    width: 100%;
    height: 276px;
    border:1px solid #e4e4e4;
}
.comm>ul{
    display: flex;
    justify-content: space-around;
}
.comm li>a>img{
    width: 170px;
    height: 170px;
    margin-top:18px;
    transition: transform 1s
}
.comm li>a>img:hover{transform: scale(1.1);}
.comm li>div>a{
    font-size:14px; 
    color:#000;
}
.comm li>div>a:hover{text-decoration: underline;}
.comm li>div>p{color:#e50000; margin-top:6px;}

/*一楼*/
.my-floors{
    width: 1190px;
    margin: 0 auto;
}
.my-floors .title1{
    width: 100%;
    height: 40px;
    margin:30px 0 10px;
    display: flex;
    justify-content: space-between;
}
.my-floors .title1 div{
    display: flex;
}
.my-floors .title1>div>div{
    display: inline-block;
    width: 26px;
    height: 24px;
    background: #0cb95f;
    padding-right:4px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    color:#fff;
    font-size:18px;
    text-align: right;
}
.act{
    background: #0cb95f;
    position: relative;
}
.act>a{color: #fff !important;}
.act>div{
    width: 9px;
    height: 6px;
    background:url(../img/icons.png) -406px -32px; 
    position: absolute;
    top:24px;
    left: 28px; 
}
.my-floors .title1>div>div:nth-child(2){
    border-radius: 13px;
    margin-left: 2px;
    padding-left: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: left;
}
.title1>div>span{
    font-size: 20px;
    color:#333;
    vertical-align: middle;
    margin-left:10px;
}
.title1>ul{
    display: flex;
    align-items: center;
}
.title1>ul>li:nth-child(odd){
    width: 64px;
    height: 24px;
    line-height: 20px;
    text-align: center;
}
.title1>ul>li:nth-child(even){
    height: 16px;
    width: 1px;
    background: #e5e5e5;
}
.title1>ul>li:nth-child(even){margin: 0 6px;}
.title1>ul>li>a{color:#333; font-size: 14px;}
.comm1{
    width: 100%;
    height: 577px;
    border-top:1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
}
.comm1>.ban1{
    width: 300px;
    height:576px;
}
.ban1>div:first-child{
    width: 300px;
    height: 360px;
    position: relative;
    background: url(../img/shenbao.jpg);
}
.ban1 .left,.ban1 .right{
    top:150px;
}
.ban1>div:nth-child(2){border-right: 1px solid #e5e5e5;}
.ban1>div:nth-child(2)>a{
    display: inline-block;
    width: 149.5px;
    height: 72px;
    border-left:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
}
.comm1>div:last-child>ul{
    display: flex;
    flex-wrap: wrap;
    width: 890px;
}
.comm1>div:last-child>ul>li{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 222.5px;
    height: 288px;
    padding:10px 24px;
    border-right:1px solid #e5e5e5; 
    border-bottom:1px solid #e5e5e5; 
}
.comm1 .detail2{display: none;}
.comm1>div:last-child>ul>li:hover .detail2{
    display: block;
    opacity: .7;
}
.big_img{
    width: 174px;
    height:  174px;
    text-align: center;
    transition: transform 0.5s;
}
.big_img:hover{transform:translate(-8px);}
.title2{
    font-size: 14px;
    color:#333;
    margin-top:15px;
}
.title2:hover{
    text-decoration: underline;
    color:#0cb95f
}
.detail{
    margin:5px 0;
    font-size: 14px;
    color: #999;
}
.price{
    font-size: 14px;
    color:#e50000;
}
.detail2{
    width:222.5px;
    height: 60px;
    position: absolute;
    left: 0;
    bottom:0;
    color: #fff;
    background: #000;
    opacity: 0.65;
    padding: 8px 12px;
    font:lighter 12px 宋体;
    line-height: 24px;
}

/*还没看够*/
.other{
    width: 1190px;
    margin: 0 auto;
}
.title3{
    width: 100%;
    height: 40px;
    margin:30px 0 10px;
    position: relative;
}
.title3>div,.title3>span{
    position: absolute;
    display: inline-block;
}
.title3>div{
    border-top:1px solid #e5e5e5;
    width: 240px;
    z-index: 1;
    left: 475px;
    top: 20px;
}
.title3>span{
    z-index: 2;
    width: 120px;
    height: 24px;
    background: #fff;
    top:8px;
    left: 535px;
    font-size: 20px;
    text-align: center;
}
.other ul{
    width: 1190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.other ul>li{
    width: 230px;
    height: 300px;
    margin-bottom: 10px;
    border:1px solid #e5e5e5;
    padding:10px 24px;
    text-align: center;
}
.other .title2{
    margin-top:44px;
    display: block;
}
.other .price{margin-top:6px;}

/*新人专享*/
.new_man{
    width: 1190px;
    margin: 30px auto 10px;
}

/*信息*/
.information{
    width: 1190px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
}
.new{
    width: 382px;
    height: 276px;
    border:1px solid #e5e5e5;
}
.new>div:first-child{
    width: 100%;
    height: 41px;
    padding:0 10px 0 20px;
    background: #f4f4f4;
    border-bottom:1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color:#666;
}
.new>div>a{
    font: 12px 宋体;
    color:#999;
}
.new>div>a:hover{text-decoration: underline;}
.new>ul>li:first-child>a>span{
    font:700 12px 宋体;
    color: #333;
}
.new>ul{
   padding:20px 17px; 
}
.new>ul>li{
    margin-bottom:8px;
}
.new>ul p{
    font:12px 宋体;
    color: #666;
    margin: 10px 0 18px;
    line-height: 20px;
}
.new>ul>li+li a{
    font:400 12px 宋体;
    color: #666;
}
.new>ul>li a:hover{
    text-decoration: underline;
    color: #0cb95f;
}
.new>ul>li+li span{
    font-weight: 700;
}
.first,.second,.third,.fourth,.fifth{
    display: inline-block;
    width: 15px;
    height: 15px;
    color:#fff;
    font: italic 700 12px 微软雅黑;
    text-align: center;
    line-height: 15px;
    padding-right: 1px;
    margin-right: 1px;
    background: #e16070;
}
.second{background: #ffbc1d;}
.third{background: #6aabea;}
.fourth{background: #0cb95f;}
.fifth{background: #f5ba39;}
.information>div:last-child>div:nth-child(2){
    padding:10px;
}
.comment{
    display: inline-block;
    height: 107px;
    padding-top:10px;
    position: relative;
    border-bottom:1px dashed #e5e5e5;
}
.touxiang{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../img/touxiang.png) -5px -7px;
    border-radius: 50%;
}
.com{
    display: inline-block;
    width: 276px;
    height: 58px;
    padding:6px 8px ;
    background: #f4f4f4;
    color:#666;
    margin: 0 15px;
    vertical-align: bottom;
    font-size: 12px;
}
.comment>span:nth-child(3){
    display: inline-block;
    border-left: 0;
    border-right: 0.5em solid #f4f4f4;
    border-bottom: 0.5em solid transparent;
    border-top: 0.5em solid transparent;
    position: absolute;
    top:31px;
    left: 58px;
}
.comment>p{
    font-size:12px;
    color: #666; 
    padding: 8px;
    margin-top:6px;
}

/*热门链接*/
#my-tabs{
    width: 1190px;
    margin: 0 auto;
    border:1px solid #e5e5e5; 
    margin-bottom:10px;
}
#my-tabs>div:first-child{
    width: 100%;
    height: 40px;
    background: #f4f4f4;
    border-bottom:1px solid #e5e5e5;
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#666;
    justify-content: left;
}
#my-tabs>div:first-child>div{
    width: 137px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    line-height: 41px;
}
#my-tabs>div:first-child>div+div{
    border-left: 1px solid #e5e5e5; 
}
#my-tabs>ul{
    width: 100%;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
}
#my-tabs a{
    width: 110px;
    height: 40px;
    display: block;
    font: 12px 宋体;
    line-height: 40px;
    color:#999;
}
#my-tabs a:hover,.help>ul>li a:hover{
    color:#0cb95f;
    text-decoration: underline;
}
/*选中状态*/
.show{
    background: #fff;
    height: 42px;
}
.nShow{
   background:#f4f4f4;
   height: 41px;
}
/*右侧固定*/
.slide-nav{
    width: 52px;
    position: fixed;
    top: 200px;
    right: 5px;
    border: 1px solid #e5e5e5;
    background: #fff;
}
.slide-nav>li{
    width: 51px;
    height: 51px;
    position: relative;
}
.slide-nav>li+li{
    border-top: 1px solid #e5e5e5;
}
.slide-nav>li+li:hover{
    background: #0cb95f;
}
.slide-nav>li.kefu{
    background: #0cb95f;
}
.slide-nav>li>div{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    padding: 9px 13px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.slide-nav>li>a{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.slide-nav>li.toTop{display: none;}
.slide-nav>li.kefu>a{
    background: url(../img/icons.png) -91px -308px;
}
.slide-nav>li.cart>a{
    background: url(../img/icons.png) -335px -307px;
}
.slide-nav>li.store>a{
    background: url(../img/icons.png) -138px -307px;
}
.slide-nav>li.watch>a{
    background: url(../img/icons.png) -188px -307px;
}
.slide-nav>li.erweima>a{
    background: url(../img/icons.png) -121px -358px;
}
.slide-nav>li.advice>a{
    background: url(../img/icons.png) -236px -307px;
}
.slide-nav>li.toTop>a{
    background: url(../img/icons.png) -284px -307px;
}
.slide-nav>li:hover>a{ display: none;}
.slide-nav>li:hover>div{display: block;}
.slide-nav>.kefu:hover>.online{display: block;}
.slide-nav>.watch:hover>.focus{display: block;}
.slide-nav>.erweima:hover>.code{display: block;}

/*联系客服*/
.online{
    display: block;
    width: 146px;
    padding: 10px;
    height: 180px;
    background: #0cb95f;
    position: absolute;
    top: 0;
    right: 52px;
    display: none;
}
.online>div{
    color: #fff;
    font-size: 12px;
}
.online>img:nth-child(2){
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
}
.yfwcc{
    background: #fff;
    text-align: center;
    margin-top: 4px;
    padding: 8px 8px;
    height: 50px;
}
.yfwcc>img{width: 110px; height: 34px;}

/*关注我们*/
.focus{
    width: 130px;
    height: 240px;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: -120px;
    right: 51px;
    font-size: 12px;
    display: none;
}
.focus>div{
    margin: 6px 30px;
    line-height: 30px;
}
.focus>span{
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/icons.png) -364px -234px;
    margin: 0 50px;
}
.focus>a{
    display: block;
    width: 60px;
    height: 24px;
    margin: 6px 32px;
    color: #fff;
    font-size: 12px;
    background: #ee7076;
    text-align: center;
    line-height: 24px;
}

/*手机APP*/
.code{
    width: 130px;
    height: 160px;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: -100px;
    right: 51px;
    font-size: 12px;
    display: none;
}
.code>a{
    display: block;
    width: 60px;
    height: 24px;
    margin: 6px 32px;
    color: #fff;
    font-size: 12px;
    background: #0cb95f;
    text-align: center;
    line-height: 24px;
}

/*左侧*/
.elevator{
    width: 42px;
    height: 468px;
    border: 1px solid #e5e5e5;
    position: fixed;
    top: 100px;
    left: 20px;
    background: #fff;
    display: none;
}
.elevator>li+li{
    border-top: 1px solid #e5e5e5;
}
.elevator>li{
    width:100%;
    height: 78px;
    padding: 6px 6px;
    text-align: center;
    font-size: 12px;
    color: #333;
}
.elevator>li>div:first-child{
    width: 20px;
    height: 24px;
    margin: 4px 4px;
}
.elevator>li:hover{
    background: #0cb95f;
    color: #fff;
}
.elevator>.zx>div:first-child{
    background: url(../img/icons.png) -172px -371px;
}
.elevator>.zx:hover>div:first-child,
.elevator>.zx>.zx1.active{
    background: url(../img/icons.png) -172px -396px;
}
.elevator>.ys>div:first-child{
    background: url(../img/icons.png) -188px -371px;
}
.elevator>.ys:hover>div:first-child,
.elevator>.ys>.ys2.active{
    background: url(../img/icons.png) -188px -396px;
}
.elevator>.yl>div:first-child{
    background: url(../img/icons.png) -206px -371px;
}
.elevator>.yl:hover>div:first-child,
.elevator>.yl>.yl3.active{
    background: url(../img/icons.png) -206px -396px;
}
.elevator>.js>div:first-child{
    background: url(../img/icons.png) -228px -371px;
}
.elevator>.js:hover>div:first-child,
.elevator>.js>.js4.active{
    background: url(../img/icons.png) -228px -396px;
}
.elevator>.zy>div:first-child{
    background: url(../img/icons.png) -251px -371px;
}
.elevator>.zy:hover>div:first-child,
.elevator>.zy>.zy5.active{
    background: url(../img/icons.png) -251px -396px;
}
.elevator>.mr>div:first-child{
    background: url(../img/icons.png) -276px -371px;
}
.elevator>.mr:hover>div:first-child,
.elevator>.mr>.mr6.active{
    background: url(../img/icons.png) -276px -396px;
}
.hover{
    background: #0cb95f;
    color: #fff !important;
}

/*滚动页面时顶部导航*/
.fixtop{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,85%);
    display:none;
    z-index: 100;
}
.fixtop>div{
    width: 1190px;
    height: 60px;
    margin: 0 auto;
    display: flex;
}
.fixtop>div>div:first-child{padding: 6px 0;}
.fixtop .search1{
    width: 674px;
    height: 40px;
    border: 2px solid #0cb95f;
    display: flex;
    margin-top: 10px;
    line-height: 40px;
    margin-left: 200px;
}
.fixtop .choose{
    display: block;
    width: 80px;
    height: 36px;
    position: relative;
    padding-left: 20px;
    border-right:1px solid #e5e5e5;
    line-height: 36px;
    color:#333;
    background: #fff;
    font-size: 12px;
}
.fixtop .choose>span{
    width: 16px;
    height: 16px;
    background:url(../img/icons.png) -109px 1px;
    position: absolute;
    top:11px;
    right: 8px;
}
.fixtop .search{
    width: 500px;
    height: 36px;
    padding: 5px 10px;
    border:0;
    outline: 0;
}
.fixtop .search_btn{
    display: inline-block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #0cb95f;
    color: #fff;
    font-size: 14px;
}

/* footer1*/
.footer{
    width: 100%;
    height: 176px;
    background: #f4f4f4;
    border-top:1px solid #e8e8e8;
    padding:24px 0; 
}
.help{
    width: 1190px;
    margin: 0 auto;
    color:#6a6a6a;
    font: 14px 宋体;
    display: flex;
}
.help>ul>li:first-child{
    margin-bottom:16px;
}
.help>ul>li{
    width: 147px;
    margin-bottom:10px;
    text-align: center;
}
.help>ul>li a{
    font-size: 12px;
    color:#888;
}
.help>ul>li a:hover{
    text-decoration: underline;
    color: #0cb95f;
}
.help>ul>li span{
    font-size:12px;
}
.help>ul:last-child>li
{
    width: 110px;
}

/*footer2*/
.footer1{
    width: 100%;
    height: 324px;
    background: #444a50;
    padding: 20px 0;
    font-size: 12px;
    color:#959aa0;
}
.footer1>div{
    width: 1190px;
    margin:0 auto;
}
.footer1 ul{
    display: flex;
    flex-wrap: wrap;
}
.footer1 ul li{
    padding: 0 14px;
    margin-bottom:18px;
    border-left: 1px solid #666;
}
.footer1 ul>li:first-child{
    border:0;
    padding-left: 0;
}
.footer1 ul:first-child a,
.footer1 ul:nth-child(2) a{
    color:#dee5ea;
}
.footer1 a:hover{text-decoration: underline;}
.footer1 ul a{
    color: #959aa0;
}
.footer1 ul:nth-child(4)>li img{
    vertical-align: bottom;
} 
.yiyuan li+li{
    border:0;
    padding-left: 2px;
}
.yiyuan li a{
    display: inline-block;
    width: 100px;
    height: 40px;
    background: url(../img/icon_rz.gif);
}
.yiyuan li:nth-child(2) a{
    background: url(../img/icon_rz.gif) 0 -40px;
}
.yiyuan li:nth-child(3) a{
    background: url(../img/icon_rz.gif) 0 -80px;
}
.yiyuan li:nth-child(4) a{
    background: url(../img/icon_rz.gif) 0 -120px;
}
.yiyuan li:nth-child(5) a{
    background: url(../img/icon_rz.gif) 0 -160px;
}
.yiyuan li:nth-child(6) a{
    background: url(../img/icon_rz.gif) 0 -200px;
}
.yiyuan li:nth-child(7) a{
    background: url(../img/icon_rz.gif) 0 -240px;
}
.yiyuan li:last-child a{
    background: url(../img/icon_rz.gif) 0 40px;
}
#d2{ 
    line-height: 20px;
}
