/* 顶部导航条 */
.top_nav{
    width: 100%;
    height: 40px;
    background:#f4f4f4;
    border:1px solid #e5e5e5;
    border-top:0;  
}
#d1{
    width: 1190px;
    height: 40px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
#d1>ul{
    display: flex;
    align-items: center; /*控制项目在交叉轴上的排列为垂直居中*/
    list-style: none;
    font-size:12px;
}
#d1>ul:first-child>li div{
    width: 20px;
    height: 20px;
    margin-right:5px ;
}
#d1>ul:first-child>li:first-child div{
    background-image: url(../img/icons.png);
    background-position: -3px -4px;
}
#d1>ul:first-child>li:nth-child(4) div{
    background-image: url(../img/icons.png);
    background-position: -49px -3px;
}
#d1>ul:first-child>li:nth-child(7) div{
    background-image: url(../img/icons.png);
    background-position: -68px -3px;
}
#d1>ul:first-child>li:nth-child(10) div{
    background-image: url(../img/icons.png);
    background-position: -49px -3px;
}
#d1>ul:last-child>li:nth-child(2) div{
    background-image: url(../img/icons.png);
    background-position: -88px -3px;
}
#d1>ul:last-child>li:nth-child(2) div{
    background-image: url(../img/icons.png);
    background-position: -88px -3px;
}
#d1>ul:last-child>li:nth-child(5) div,
#d1>ul:last-child>li:nth-child(11) div{
    margin-right: 0px;
    background-image: url(../img/icons.png);
    background-position: -121px 1px;
}
#d1 a{
    color:#333;
}
#d1 a:hover{
    color:#0cb95f;
    text-decoration: underline;
}
li.xian{
    width: 1px;
    height: 20px;
    border-left:1px solid #e5e5e5;
    margin:10px 10px 10px 10px;
}
#d1>ul:last-child>li:first-child{
    margin-right:20px;
}
#d1>ul:last-child li div{
    width: 20px; height: 20px;
    display:inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
#d1>ul:last-child>li:nth-child(3){
    margin-right:36px;
} 
#d1>ul:last-child>li:nth-child(9),
#d1>ul:last-child>li:nth-child(10){
    margin-left:34px;
} 
#d1>ul:last-child>li:nth-child(12){
    margin-left:30px;
}
#d1>ul:last-child>li:nth-child(12) a{
    display:inline-block;
    width: 69px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background:#0cb95f;
    border-radius:2px;
    color:white;
    font-size: 12px;
    text-decoration: none;
}
/* 2.网页标题 */
.logo{
    width: 1190px;
    height: 140px;
    margin:0 auto; 
    position: relative;
}
/*2.1_logo*/
.logo>div{position: absolute;}
.logo>div:first-child{
    top: 32px;
}
.logo>div:nth-child(2){
    top: 39px;
    left: 340px;
}
.logo>div:last-child{
    top:39px;
    right: 0;
}
/*2.2s搜索框*/
.logo>div:nth-child(2)>div:first-child{
    width: 544px;
    height: 40px;
    border: 2px solid #0cb95f;
    position: relative;
}
.logo .choose{
    display: inline-block;
    width: 80px;
    height: 36px;
    position: relative;
    padding-left: 25px;
    border-right:1px solid #e5e5e5;
    line-height: 36px;
    color:#333;
  /*  position: absolute;
    top: 0;
    left: 0;*/
}
.logo .choose>span{
    width: 16px;
    height: 16px;
    position: absolute;
    top:11px;
    right: 8px;
    background:url(../img/icons.png) -109px 1px;
}
.logo .search{
    width: 370px;
    height: 36px;
    padding: 5px 10px;
    border:0;
    outline: 0;
    position: absolute;
    top: 0;
}
.logo .search_btn{
    display: inline-block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #0cb95f;
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
}
.logo ul{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.logo a{
    font-size: 12px;
    color: #999;
}
.logo li{
    padding: 0 12px;
    line-height: 14px;
}
.logo li+li{
    height:14px;
    border-left:1px solid #e5e5e5;
}
.logo li span{
    color: #e50000;
}
.logo ul a:hover,.logo li span:hover{
    text-decoration: underline;
    color:#0cb95f;
}
/*2.3品质保障*/
.logo>div:last-child{
    width: 175px;
    height: 40px;
    background: url(../img/icons.png) -87px -263px;
}


/*主导航栏*/
.middle{
    width: 100%;
    background: #0cb95f;
}
.middle_nav{
    width: 1190px;
    height: 50px;
    margin:0 auto;
}
.middle_nav>ul{
    display: flex;
    align-items: center;
    line-height: 50px;
}
.middle_nav>ul>li:first-child{
    width: 230px;
    height: 50px;
    background: #0aa454;
    padding-left:20px;
}
.middle_nav>ul>li:first-child>a:hover{text-decoration: underline;}  
.middle_nav>ul>li+li{
    height: 50px;
    padding:0 30px;
}
.middle_nav>ul>li:nth-child(2){
    padding:0 50px;
}
.middle_nav>ul>li>a{
    color:#fff;
}
.middle_nav>ul>li+li>a:hover{
    text-decoration: underline;
}

/*面包屑*/
.breadcrumb{
    width: 1190px;
    margin: 20px auto;
}
.breadcrumb ul{
    display: flex;
    font: 12px 宋体;
    color:#333;
}
.breadcrumb ul li a{
    color:#333;
}
.breadcrumb ul li a:hover{
    color:#0cb95f;
    text-decoration: underline;
}
.breadcrumb ul li+li:before{
    display: inline-block;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    color: #6c757d;
    content: ">";
}

/* 商品展示区 */
/*商品展示区*/
.show{
    width: 1190px;
    height: 555px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 370px;
}
.left>a{
    display: inline-block;
    width: 372px;
    height: 372px;
    border:1px solid #e5e5e5;
    position: relative;
}
.left img{
    width: 366px;
    height: 366px;
}
.left p{
    width: 100%;
    font-size: 12px;
    background: #ffffee;
    position: absolute;
    bottom: 4px;
    text-align: center;
}
.left>div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:6px 0 16px;
}
.left>div:nth-child(2)>a{
    display: inline-block;
    width: 66px;
    height: 66px;
    border:1px solid #e5e5e5;
    padding:2px;
}
.left>div:nth-child(2)>a:hover{
    border-color: #ccc;
}
.left>div:nth-child(2) img{
    width: 60px;
    height: 60px;
}
.left>div:last-child{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.left>div:last-child>span{
    font-size: 12px;
    color: #333;
}
.left>div:last-child a{
    font: 12px 宋体;
    color:#999;
}
.left a>span{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/icons.png) -144px -25px;
    vertical-align: middle;
    margin-right: 6px;
}
/*center*/
.center{
    width: 800px;
    height: 535px;
    position: relative;
    
}
.center>div:first-child{
    color: #333;
    font-size: 18px;
}
.center>div:first-child span{
    display: inline-block;
    width: 32px;
    height: 18px;
    margin-right: 4px;
    background: url(../img/icon_otc.png) center;
    vertical-align: middle;
}
.center>div:last-child{
    width: 202px;
    height: 24px;
    margin: 10px 0 20px;
    padding:5px;
    border:1px solid #ff4000;
    color:#e4393c;
    font:12px 宋体;
    position: relative;
}
.center>div:last-child>a{
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 22px;
    top: 0;
    right: 0;
    background: #e4393c;
    color:#fff;
    text-align: center;
    line-height: 22px;
}
.center>div:last-child>a:hover{
    text-decoration: underline;
}
.dea,.dea1,.dea3{
    width: 640px;
    height: 51px;
    border-bottom:1px dashed #e5e5e5;
    display: flex;
}
.dea3{border-bottom:0;}
.title{
    width: 66px;
    font:12px 宋体;
    color: #999;
    text-align: right;
    line-height: 51px;
}
.content,.content1{
    margin-left:22px;
    width: 232px;
    font:12px 宋体;
    line-height: 51px;
    display: flex;
    justify-content: space-between;
}
.content1{width: 100%;}
.content2{
    width: 547px;
    margin-left:22px;
    font:12px 宋体;
    line-height: 23px;
    padding-top:14px;
}
.xiangqing:hover{

}
.guoyao{
    height: 14px;
    margin-top: 18px;
}
.content1>a{margin-top: 18px;}
.dea .content a{color:#999;}
.guige{
    width: 78px;
    height: 24px;
    border:1px solid #000;
    position: relative;
    margin:13px 0;
    line-height: 24px;
    padding: 0 4px ;
    color: #333;
}
.guige a{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 20px;
    height: 22px;
    background: url(../img/icons.png) -120px 3px;
}
.dea1{
    width: 100%;
    border:0;
    background: #f4f4f4;
}
.price{
    color: #e50000;
    font:700 16px Arial;
    margin-left: 22px;
    line-height:60px;
}
.price span:first-child{
    display: inline-block;
    margin-top:6px;
    font: 400 16px Arial;
}
.price span:nth-child(2){
    display: inline-block;
    margin-left:6px;
    font: 400 28px Arial; 
}
.price span:nth-child(3){
    font:18px 微软雅黑;
    margin-left:4px;
}
.to_price{
    width: 160px;
    height:26px;
    display: inline-block;
    border: 1px solid #0cb95f;
    font: 12px 宋体;
    line-height: 24px;
    padding: 0 13px;
    color: #0cb95f;
    margin-top: 13px;
    margin-left:10px;
}
.joinus{
    width: 110px;
    height: 26px;
    border:1px solid #ccc;
    background: #f4f4f4;
    text-align: center;
    line-height: 24px;
    position: absolute;
    top: 414px;
    right: 10px;
}
.mobile{
    width: 119px;
    height: 160px;
    position: absolute;
    top: 123px;
    right: 0;
}
.sweep{
    width: 100%;
    height: 40px;
    background: #0cb95f;
    padding: 5px 0 6px 14px;
    display: flex;
}
.sweep>span{
    width: 22px;
    height: 30px;
    display: inline-block;
    background: url(../img/icons.png) -55px -46px;
}
.sweep>p{
    display: inline-block;
    margin-left:6px;
}
.bar_code{
    border:1px solid #e5e5e5;
    border-top:0;
    width: 120px;
    height: 120px;
    padding: 21px;
}
.content1{
    width: 422px;
    justify-content: left;
}
.content1>span{
    margin-left:16px;
}

/*商家报价+说明书+承诺+资讯+问答*/
/*explain*/
.explain{
    width: 1190px;
    margin:0 auto;
    position: relative;
}
.explain>ul:first-child{
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #0cb95f;
    display: flex;
}

/*奇数位置的菜单*/
.explain>ul:first-child>li:nth-child(odd)>a{
    display: inline-block;
    width:106px;
    height: 50px;
    background:#f7f7f7;
    padding: 0 25px;
    font: 14px 微软雅黑; 
    color: #333;
    line-height: 50px;
}
.explain>ul:first-child>li:nth-child(odd)>a:hover{
    background: #0cb95f;
    color: #fff;
}
/*第一个菜单的宽度特殊*/
.explain>ul:first-child>li:first-child>a{
    width:166px;
}
/*第二个菜单的宽度特殊*/
.explain>ul:first-child>li:nth-child(3)>a{
    width:120px;
}
/*偶数位置的菜单*/
.explain>ul:first-child>li:nth-child(even){
    width: 1px;
    height: 50px;
}
.address{
    position: absolute;
    top: 20px;
    right: 6px;
}
.icons{
    display: inline-block;
    width: 24px;
    height: 20px;
    background: url(../img/icons.png) -326px -4px;
    margin-right: 4px;
    vertical-align: middle;
}