/*主导航栏*/
.middle{
    width: 100%;
    background: #0cb95f;
}
.middle_nav{
    width: 1190px;
    height: 50px;
    margin:0 auto;
}
.middle_nav>ul{
    display: flex;
    align-items: center;
    line-height: 50px;
}
.middle_nav>ul>li:first-child{
    width: 230px;
    height: 50px;
    background: #0aa454;
    padding-left:20px;
}
.middle_nav>ul>li:first-child>a:hover{text-decoration: underline;}  
.middle_nav>ul>li+li{
    height: 50px;
    padding:0 30px;
}
.middle_nav>ul>li:nth-child(2){
    padding:0 50px;
}
.middle_nav>ul>li:nth-child(3){
    background: #0aa454;
}
.middle_nav>ul>li>a{
    color:#fff;
}
.middle_nav>ul>li+li>a:hover{
    text-decoration: underline;
}

/*banner*/
.ban{
    width: 100%;
    height: 390px;
}
.ban>div{
    width: 1190px;
    height: 390px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ban>div>.ass{
    width: 230px;
    height: 390px;
    border:1px solid #e5e5e5;
}
.ass>ul{
    background: #fff;
    opacity: 0.9;
}
.ass>ul>li{
    width: 100%;
    height: 65px;
    position: relative;
    border-bottom:1px dashed #e5e5e5;
    padding: 10px 0 10px 50px;
}
.ass a:hover{
    text-decoration: underline;
    color: #0cb95f;
}
.ass>ul>li>a{
    font-size: 14px;
    color:#333;
}
.ass>ul>li>div>a{
    font-size: 12px;
    color: #999;
}
.ass>ul>li>div>a+a{
    margin-left:4px;
}
.ban .ass li>div:first-child{
    width: 24px;
    height: 24px;
    position: absolute;
    top:16px;
    left:16px;
    background: url(../img/icons.png) -132px -154px;
}
.ban .ass li:nth-child(2)>div:first-child{
    background: url(../img/icons.png) -156px -154px;
}
.ban .ass li:nth-child(3)>div:first-child{
    background: url(../img/icons.png) -180px -154px;
}
.ban .ass li:nth-child(4)>div:first-child{
    background: url(../img/icons.png) -204px -154px;
}
.ban .ass li:nth-child(5)>div:first-child{
    background: url(../img/icons.png) -252px -154px;
}
.ban .ass li:nth-child(6)>div:first-child{
    background: url(../img/icons.png) -228px -154px;
}
/*中间banner位*/
.ban>div>div:nth-child(2){
    width: 710px;
    height: 380px;
    margin: 10px;
    margin-bottom: 0px;
    background: url(../img/banner1.jpg);
    position: relative;
}
.ban>div>div:nth-child(2) ul{
    position: absolute;
    display: flex;
    left: 320px;
    bottom: 10px;
}
.ban>div>div:nth-child(2) ul a{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
    background: #554a3f;
    opacity: .7;
}
.ban>div>div:nth-child(2) li+li{margin-left: 10px;}

/*右边链接*/
.small-tabs{
    width: 230px;
    height: 380px;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
}
.small-tabs>.nav{
    width: 228px;
    height: 38px;
    display: flex;
    background: #f4f4f4;
}
.small-tabs>.nav>li+li{
    border-left: 1px solid #e5e5e5; 
}
.small-tabs>.nav>li{
    width: 50%;
    height: 38px;
    line-height: 38px;
    padding: 0 28px;
}
.active{
    background: #fff;
    border-bottom: 0;
}
.unActive{
    border-bottom: 1px solid #e5e5e5;
}
.small-tabs>.nav>li>a{
  color: #333;
  font-size: 14px;
}
.small-tabs>.store{
  padding: 10px;
}
.store>li:hover>a{color: #0cb95f;text-decoration: underline;}
.lead,.other{
  width: 100%;
  height: 32px ;
  padding-left:25px;
  line-height: 26px;
  border-bottom: 1px dashed #e5e5e5;
  position: relative;
}
.small-tabs>.store a{
  color: #333;
  font:12px 宋体; 
}
.first,.second,.third{
    display: inline-block;
    width: 15px;
    height: 15px;
    color:#fff;
    font:700 12px 微软雅黑;
    text-align: center;
    line-height: 15px;
    margin-right: 1px;
    background: #e16070;
    position: absolute;
    top: 8px;
    left: 2px;
}
.second{background: #ffbc1d;}
.third{background: #6aabea;}
.other{
    padding-left:18px;
}
.circle{
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #999;  
  position: absolute;
  left: 6px;
  bottom: 12px;   
}

/*热门品牌*/
.brand{
  width: 1190px;
  margin:30px auto;
}
.title,.title1{
  color:#333;
  font:700 18px 微软雅黑;
  position: relative;
  margin-bottom: 10px;
}
.title span,.title1 span{ margin-right: 10px; vertical-align: middle;}
.title img{
  position:absolute;
  bottom:1px;
  left:90px;
}
.brand>div:last-child{
  display: flex;
}
.left,.left1{
  width: 230px;
  height: 281px;
  margin-right: 10px;
}
.center{
  width: 710px;
  height: 281px;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
}
.center>li a{
  display: inline-block;
  width: 141.8px;
  height: 70px;
  padding-top: 5px;
  border-top: 1px dashed #e5e5e5;
  border-left: 1px dashed #e5e5e5;
}

.right{
  width: 230px;
  height: 281px;
  margin-left: 10px;
}

/*家庭常备*/
.green_line{
  width: 4px;
  height: 18px;
  background: #0cb95f;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
}
.title1{display: flex; justify-content: space-between;}
.title1>ul{
  display: flex;
  align-items: center;
}
.title1>ul>li:nth-child(odd){ 
  padding:0 16px;
  height:16px;
  line-height: 12px;
}
.title1>ul>li:nth-child(even){
  width: 1px;
  height:16px;
  background: #ddd;
}
.title1>ul>li>a{
  color:#333;
  font: 400 14px 宋体; 
 }
 .title1>ul>li>a:hover{color: #0cb95f; text-decoration: underline;}
.left1{
  height: 504px;
  margin-right: 0;
}
.center1{
  width:730px;
  height: 504px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e5e5e5;
}
.center1 li{
  width: 182.5px;
  height: 251px;
  padding: 11px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  position: relative;
}
.big_img{
    width: 160px;
    height:  160px;
    text-align: center;
    transition: transform 0.5s;
}
.big_img:hover{transform:translate(-8px);}
.title2{
    font-size: 12px;
    color:#333;
    margin-top:6px;
}
.title2:hover{
    text-decoration: underline;
    color:#0cb95f
}
.detail{
    margin:6px 4px;
    font-size: 12px;
    color: #999;
}
.price{
    font-size: 14px;
    color:#e50000;
    margin: 0 4px;
}
.detail2{
    width:182.5px;
    height: 60px;
    position: absolute;
    left: 0;
    bottom:0;
    color: #fff;
    background: #000;
    padding: 8px 12px;
    font:lighter 12px 宋体;
    line-height: 24px;
    display: none;
    /*transition: height 1s liner;*/
}
.center1 li:hover>.detail2{
    display: block;
    opacity: .7;
}
.right1{
  width: 230px;
  height: 504px;
  border: 1px solid #e5e5e5;
  border-left: 0;
}
.right1>div{
  height: 40px;
  padding-left: 8px;
  font-size: 14px;
  color: #666;
  background: #f4f4f4;
  line-height: 40px;
}
.right1>ul>li{
  width: 210px;
  height: 77px;
  display: flex;
  padding: 8px 0;
  margin:0 10px;
  border-bottom: 1px dashed #e5e5e5;
}
.right1>ul>li:last-child{border:0;}
.right1>ul>li>a{
  width: 56px;
  height: 56px;
  display: inline-block;
  padding: 2px;
  border: 1px solid #eaeaea;
}
.small_img{
  width:50px;
  height: 50px; 
}
.right1>ul>li>div{
  margin-left:10px;
}
.right1>ul>li>div>a{
  vertical-align: top;
  color: #333;
  font-size: 12px;
}

/*分类*/
.classify{
  width: 1190px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
}
.classify>li{
  width: 190px;
  height: 170px;
  padding: 15px 20px;
  background: #f4f4f4;
}
.classify li h3 a{
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
}
.list{
  display: flex;
  flex-wrap: wrap;
}
.list li{
  width: 75px;
  height: 24px;
  padding: 5px 0;
  line-height: 14px;
}
.classify li:hover{
  background: #0cb95f;
}
.classify li:hover>.list{
  background: #0cb95f;
}
.classify li:hover a{
  color: #fff;
}
.classify li ul li>a{
  color: #666;
  font-size: 12px;
  vertical-align: top;
}
.classify li a:hover{text-decoration: underline;}

/*热门链接*/
#my-tabs{
    width: 1190px;
    margin: 0 auto;
    border:1px solid #e5e5e5; 
    margin-bottom:10px;
}
#my-tabs>div:first-child{
    width: 100%;
    height: 40px;
    background: #f4f4f4;
    border-bottom:1px solid #e5e5e5;
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#666;
    justify-content: left;
}
#my-tabs>div:first-child>div{
    width: 137px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    line-height: 41px;
}
#my-tabs>div:first-child>div+div{
    border-left: 1px solid #e5e5e5; 
}
#my-tabs>ul{
    width: 100%;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
}
#my-tabs a{
    width: 110px;
    height: 40px;
    display: block;
    font: 12px 宋体;
    line-height: 40px;
    color:#999;
}
#my-tabs a:hover,.help>ul>li a:hover{
    color:#0cb95f;
    text-decoration: underline;
}








































