<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>限时购</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div id="app">
    <my-header></my-header>
    <!-- 主导航栏 -->
    <div class="middle">
        <div class="middle_nav">
            <ul>
                <li><a href="#">全部商品分类</a></li>
                <li><a href="#">首页</a></li>
                <li><a href="#">药品超市</a></li>
                <li><a href="#">药房联盟</a></li>
                <li><a href="#">医院大全</a></li>
                <li><a href="#">医药资讯</a></li>
                <li><a href="#">用药问答</a></li>
                <li><a href="#">商家入驻</a></li>
            </ul>
        </div>
    </div>
    <!-- 面包屑 -->
    <div class="breadcrumb">
        <ul>
            <li><a href="#">药房网商城</a></li>
            <li><a href="#">中西药品</a></li>
            <li><a href="#">营养滋补</a></li>
            <li><a href="#">维生素</a></li>
            <li><a href="#">善存 多维元素片(29)价格</a></li>
            <li><a href="#">安徽太极大药房连锁有限公司太和解放路店</a></li>
            <li>善存 多维元素片(29)</li>
        </ul>
    </div>
    <!-- 商品展示区 -->
    <div class="show">
        <!-- 左侧 -->
        <div class="left">
            <a href="#">
                <!-- supermask -->
                <div class="super-mask" @mousemove="move" @mouseover="toggle" @mouseout="toggle"></div>
                <!-- 遮罩 -->
                <div class="mask"  :style="{'display':hide==1?'':'none','top':top,'left':left}" ></div>
                <!-- 大图 -->
                <div class="lg" :style="{'background-image':`url(${images[i].lg})`,'display':hide==1?'':'none',
                'background-position':`-${parseInt(left)*1.5}px -${parseInt(top)*1.5}px`}"></div>
                
                <!-- 中图片 -->
                <img :src="images[i].md" >
                <p>温馨提醒：商品包装因厂家更换频繁，如有不符请以实物为准</p> 
            </a>
           <div>
               <!-- 左右箭头 -->
                <a class="prev" :class="{hover:times>0}" @click="moveright"></a> 
                <a class="next" :class="li_hover" @click="moveleft"></a>
                <!-- 小图 -->
                <ul :style="{width:(images.length*76+(images.length-1)*10)+'px','margin-left':-86*times+'px'}"
                @mouseover="changei">
                   <li title="" v-for="(p,i) of images" :key="i"><img :src="p.sm" :data-i="i" alt=""></li>
                </ul>
            </div>  
           <div>
               <span>商品编号533714</span>
               <a href="#"><span></span>收藏该商品</a>
            </div>
        </div>
        <!-- 中间 -->
        <div class="center">
            <div><span></span>善存 多维元素片(29)</div>
            <div>
                新客APP下单领20元券<a href="#">立即去领</a>
            </div>
            <ul class="dea">
                <li class="title">通 用 名</li>
                <li class="content">多维元素片(29)</li>
                <li class="title">商品名/商标</li>
                <li class="content">善存<a href="#">[注]</a></li>
            </ul>
            <ul class="dea">
                <li class="title">包装规格</li>
                <li class="content">
                    <div class="guige">60片/瓶<a href="#"></a></div>
                </li>
                <li class="title">剂型/型号</li>
                <li class="content">薄膜衣片剂</li>
            </ul>
            <ul class="dea">
                <li class="title">生产企业</li>
                <li class="content">惠氏制药有限公司</li>
                <li class="title">批准文号</li>
                <li class="content">国药准字H10950026</li>
            </ul>
            <ul class="dea1">
                <li class="title">零售价</li>
                <li class="price">¥<span>67.00</span> </li>
                <li class="sao">
                    <a href="#"><span></span>手机扫一扫<span></span></a>
                    <div class="sys">
                        <div>
                            <a href="#"><span></span>手机扫一扫<span></span></a>
                        </div>
                        <div>
                            <div><img src="../img/QRCode.gif" alt=""></div>
                            查药更方便
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="dea3">
                <li class="title">运费</li>
                <li class="content1">
                    <div class="guige">至 运城市<a href="#"></a></div>
                    <span>快递：当前地区暂不配送</span>
                </li>
            </ul>
            <ul class="dea3">
                <li class="title">需求数量</li>
                <li class="content1">
                    <div class="count">
                       <a href="#" @click="dec"></a><input type="text" v-model="num"><a href="#" @click="add"></a>
                    </div>
                    <span>库存： 1232瓶 &nbsp;&nbsp;有效期至： 剩余有效期≥180天</span>
                </li>
            </ul>
            <div class="tijiao">
                <a href="#" class="btn1">提交需求</a><a href="#" class="btn2">加入需求单</a>
            </div>
            <div class="baojia">
                <p class="text_gray_sm ah">该报价由：安徽太极大药房连锁有限公司太和解放路店发布，商家承诺：</p>
                <div>
                    <span class="bjtu"></span><span class="text_black_sm biaoyu">24小时内发货</span>
                    <span class="bjtu bjtu_bz"></span><span class="text_black_sm biaoyu">正品保障</span>
                    <span class="bjtu bjtu_fp"></span><span class="text_black_sm biaoyu">提供发票</span>
                </div>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="right">
            <div>
                <a href="#"><img src="../img/tj.jpg" alt=""></a>
            </div>
            <p class="dm text_green_sm">安徽太极大药房连锁有限公司太和解放路店<span class="jiantou"></span></p>
            <ul>
                <li>
                    <p class="text_sm">服务</p>
                    <span class="pingfen">4.9</span>
                </li>
                <li>
                    <p class="text_sm">发货</p>
                    <span class="pingfen">4.9</span>
                </li>
                <li>
                    <p class="text_sm">物流</p>
                    <span class="pingfen">4.9</span>
                </li>
                <li>
                    <p class="text_sm">包装</p>
                    <span class="pingfen">4.9</span>
                </li>
            </ul>
            <p class="text_777_sm dian">店铺评分：<span class="xing"></span>4.9</p>
            <p class="text_777_sm dian">退  单  率：0.2%</p>
            <p class="text_777_sm dian">发货时长：11.3小时</p>
            <p class="text_777_sm dian">营业时间：8:00-20:00</p>
            <p class="text_777_sm dian">店铺地址：安徽省阜阳市太和县解</p>
            <p class="text_777_sm dian">放路北侧N11楼101-103室</p>
            <p class="btn_ind "><a href="#" class="text_777_sm">进入店铺</a></p>
        </div>
    </div>
    <!-- 相关推荐+商品简介 -->
    <div class="Intro">
        <!-- 左侧rela -->
        <div class="rela">
            <!-- 店内搜索 -->
            <div class="rela_one">
                <div class="m_title">
                    店内搜索
                </div>
                <div class="Intro_con">
                    <input type="text" placeholder="请输入关键字查询" class="shuruk"><a href="#"><span></span></a>
                </div>
            </div>
            <!--相关分类 -->
            <div class="rela_one">
                <div class="m_title">
                    相关分类
                </div>
                <div class="Intro_con1">
                    <ul>
                        <li><a href="#" class="text_sm">维生素</a></li>
                        <li><a href="#" class="text_sm">葡萄糖</a></li>
                        <li><a href="#" class="text_sm">药酒</a></li>
                        <li><a href="#" class="text_sm">牛初乳</a></li>
                        <li><a href="#" class="text_sm">蛋白质</a></li>
                        <li><a href="#" class="text_sm">大蒜精油</a></li>
                        <li><a href="#" class="text_sm">益生菌</a></li>
                        <li><a href="#" class="text_sm">钙片</a></li>
                    </ul>
                </div>
            </div>
            <!-- 商家推荐 -->
            <div class="rela_one">
                <div class="m_title">
                    商家推荐
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
            </div>
            <!-- 商品排行 -->
            <div class="m_title">
                商品排行
            </div>
            <div class="rela_one">
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/yao_big.gif" alt=""></a>
                    <a href="#" class="g_link text_sm">银杏叶片</a>
                    <p class="text_gray_sm m_sm">9.6mg:2.4mgx12片x3板/盒</p>
                    <p class="price_sm">¥8.70</p>
                </div>
            </div>
            <!-- 查看过的商品 -->
            <div class="m_title">
                您查看过的商品
            </div>
            <div>
                <div class="Intro_con1">
                    <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                    <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                    <p class="text_gray_sm m_sm">60片/瓶</p>
                </div>
            </div>
        </div>
        <!-- 右侧explain -->
        <div class="explain">
            <!-- 导航栏 -->
            <ul>
                <li><a href="#">商品说明</a></li>
                <li></li>
                <li><a href="#">服务保障</a></li>
                <li></li>
                <li><a href="#">常见问题</a></li>
                <li></li>
                <li><a href="#">真伪查询</a></li>
            </ul>
            <!-- 提示 -->
            <div class="point text_gray_sm">
                <p>1、药品监管部门提示：如发现本网站有任何直接或变相销售处方药行为，请保留证据，拨打12331举报</p>
                <p class="mt_sm">2、请仔细阅读药品使用说明书并按说明使用或在药师指导下购买和使用！</p>
            </div>
            <!-- 安全提示 -->
            <div class="safe">
                <span class="warn"></span>安全提示：如商家要求您在淘宝或其他网站下单发货，商城将不承诺任何服务保障！举报电话：400-8810-120
            </div>
            <!-- 商品详情 -->
            <div class="med_name">
                <div><span></span></div>
                <span>善存 多维元素片(29)商品详情</span>        
            </div>
            <ul class="med_detail">
                <li class="text_black_sm"><span class="text_gray_sm">通用名称</span> &nbsp;多维元素片(29)</li>
                <li class="text_black_sm"><span class="text_gray_sm ml_md"> 商品名</span> &nbsp;善存</li>
                <li class="text_black_sm"><span class="text_gray_sm">英文名称</span> &nbsp;Vitamins With Minerals Tablets(29)</li>
                <li class="text_black_sm"><span class="text_gray_sm">汉语拼音</span> &nbsp;DuoweiYuansu Pian(29)</li>
                <li class="text_black_sm"><span class="text_gray_sm">生产厂家</span> &nbsp;惠氏制药有限公司</li>
                <li class="text_black_sm"><span class="text_gray_sm ml_md"> 有效期</span> &nbsp;24个月</li>
            </ul>
            <!-- 有请提示 -->
            <div class="safe">
                <span class="warn"></span><div class="text_gray_sm">友情提示：以下善存 多维元素片(29)说明书信息由药房网商城手工录入，可能会与实际有所误差，仅供参考，具体请以实际商品为准。</div>
            </div>
            <!-- 图片展示 -->
            <div class="instru">
                <ul>
                    <li class="instru_name">【执行标准】</li>
                    <li class="instru_detail">YBH00342013</li>
                </ul>
                <ul>
                    <li class="instru_name">【性状】</li>
                    <li class="instru_detail">本品为薄膜衣片。</li>
                </ul>
                <ul>
                    <li class="instru_name">【作用类别】</li>
                    <li class="instru_detail">本品为维生素及矿物质类非处方方药品。/li>
                </ul>
                <ul>
                    <li class="instru_name">【适应症】</li>
                    <li class="instru_detail">用于预防和治疗因维生素与矿物质缺乏所引起的各种疾病。</li>
                </ul>
                <ul>
                    <li class="instru_name">【用法用量】</li>
                    <li class="instru_detail">口服。成人，一日1片。</li>
                </ul>
                <ul>
                    <li class="instru_name">【不良反应】</li>
                    <li class="instru_detail">偶见胃肠不适。</li>
                </ul>
                <ul>
                    <li class="instru_name">【禁忌症】</li>
                    <li class="instru_detail">慢性肾功能衰竭、高钙血症、高磷血症伴肾性佝偻病患者禁用。</li>
                </ul>
                <ul>
                    <li class="instru_name1">【药物相互作用】</li>
                    <li class="instru_detail1 ">1、抗酸药可影响本品中维生素A的吸收，故不应同服。2、不应与含有大最镁、钙的药物合用，以免引起高镁、高钙血症。3、如与其他药物同时使用可能会发生药物相互作用，详情请咨询医师或药师。</li>
                </ul>
                <ul>
                    <li class="instru_name">【贮藏】</li>
                    <li class="instru_detail">遮光，密闭保存。</li>
                </ul>
                <ul>
                    <li class="instru_name2">说明书图解</li>
                    <li class="instru_detail2" title="善存 多维元素片(29)说明书细节图1">
                        <a href="#"><img src="../img/xiangxi.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="med_name">
                <div><span class="tu_icon"></span></div>
                <span>善存 多维元素片(29)图片展示</span>        
            </div>
            <div class="tu_display">
                <a href="#"><img src="../img/md/wss_b1.jpg" alt=""></a>
                <a href="#"><img src="../img/md/wss_b2.jpg" alt=""></a>
                <a href="#" class="mt_ten"><img src="../img/md/wss_b3.jpg" alt=""></a>
                <a href="#" class="mt_ten"><img src="../img/md/wss_b4.jpg" alt=""></a>
            </div>
            <!-- 实景 -->
            <div class="med_name">
                <div><span class="tu_icon1"></span></div>
                <span>安徽太极大药房连锁有限公司太和解放路店店铺实景</span>        
            </div>
            <div class="shijing mt_ten">
                <a href="#"><img src="../img/shijing.jpg" alt=""></a>
            </div>
            <!-- 商家资质 -->
            <div class="med_name">
                <div><span class="tu_icon2"></span></div>
                <span>安徽太极大药房连锁有限公司太和解放路店商家资质</span>        
            </div>
            <ul class="natural mt_ten">
                <li><a href="#"><img src="../img/yingyezhizhao.jpg" alt=""></a></li>
                <li><a href="#"><img src="../img/xukezheng2.jpg" alt=""></a></li>
                <li><a href="#"><img src="../img/xukezheng1.jpg" alt=""></a></li>
            </ul>
            <!-- 服务保障 -->
            <div class="med_name mt_thirty">
                <div><span class="tu_icon3"></span></div>
                <span>服务保障</span>        
            </div>
            <ul class="sever mt_ten">
                <li>
                    <div></div>
                    <div>
                        <p>正品保证</p>
                        <p class="texts">药房网商城在售商品均由正规实体签约商家供货，商家提供正品保证。</p>
                        <p class="texts">在购物过程中发现任何商家有违规行为，请直接向我们投诉举报！</p>
                    </div>
                </li>
                <li>
                    <div class="fp"></div>
                    <div>
                        <p>提供发票</p>
                        <p class="texts">药房网商城所有在售商家均可提供商品发票。</p>
                    </div>   
                </li>
            </ul>
            <div class="med_name2">
                <span>关于退换货服务标准</span>        
            </div>
            <ul class="return">
                <li>
                    <span class="xuhao">01</span><span>退换货政策</span>
                    <p class="text_black_sm return_det">由商品售出之日（以实际收货时间为准）起七日内符合退换货条件的商品享受退换货政策。</p>
                </li>
                <li>
                    <span class="xuhao">02</span><span>退换货条件</span>
                    <ul>
                        <li class="text_black_sm return_det"><span class="circle"></span>因物流配送导致外包装污损、破损的商品。</li>
                        <li class="text_black_sm return_det"><span class="circle"></span>经质量管理部门检验，确属产品本身存在质量问题。</li>
                        <li class="text_black_sm return_det"><span class="circle"></span>国家权威管理部门发布公告的产品（如停售、召回等）。</li>
                        <li class="text_black_sm return_det"><span class="circle"></span>因商家失误造成发货错误，如商品的名称、规格、数量、产品批次等信息与所订商品不符</li>
                    </ul>
                </li>
                <li>
                    <span class="xuhao">03</span><span>特殊说明</span>
                    <p class="return_det">因药品是特殊商品，依据中华人民共和国《药品经营质量管理规范》及其实施细则（GSP）、《互联网药品交易服务审批暂行规定》等法律、法规的相关规定：药品一经售出，无质量问题，不退不换。</p>
                </li>
                <li>
                    <span class="xuhao">04</span><span>退换货流程</span>
                    <ul class="flow return_det">
                        <li>
                            <div>
                                联系商家客服或自行确认符合退换货政策
                                <div></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                在线提交退换货申请及相关证明
                                <div></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                退换货申请通过后寄回商品
                                <div></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                确认商家为您重寄的商品或退款
                                <div></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- 常见问题 -->
            <div class="med_name1 mt_thirty">
                <div><span class="tu_icon4"></span></div>
                <span>常见问题</span>        
            </div>
            <ul class="return">
                <li>
                    <p class="lump mt_ten">为什么同一个产品的价格差距这么大？</p>
                    <p class="text_black_sm return_det">由于各地区消费收入水平差异、商品进货渠道不同以及商家促销活动等原因，商品价格会有一定幅度的差异，但所有的商品价格均为商家发布的真实销售价格，请放心选购。</p>
                </li>
                <li>
                    <p class="lump mt_ten">展示的商品都是正品吗？</p>
                    <p class="text_black_sm return_det">药房网商城所有在售商品均由正规实体药房发布并提供售后服务，正品保障，请放心选购。</p>
                </li>
                <li>
                    <p class="lump mt_ten">有货吗，什么时候能发货？</p>
                    <p class="text_black_sm return_det">所有商品的库存均为商家自行设置的门店实际库存。商家的每个商品都会约定发货时间，以您的付款时间开始计算。若违约商城将根据实际情况对商家进行处罚。</p>
                </li>
                <li>
                    <p class="lump mt_ten">为什么同一个产品的价格差距这么大？</p>
                    <p class="text_black_sm return_det">由于各地区消费收入水平差异、商品进货渠道不同以及商家促销活动等原因，商品价格会有一定幅度的差异，但所有的商品价格均为商家发布的真实销售价格，请放心选购。</p>
                </li> 
                <li>
                    <p class="lump mt_ten">多买一点能不能包邮？</p>
                    <p class="text_black_sm return_det">订单运费均由商家后台自行进行设置，包邮属于每个商家自行设置的促销活动，能否包邮以页面展示活动规则为准。</p>
                </li>
                <li>
                    <p class="lump mt_ten">提供正规发票吗？</p>
                    <p class="text_black_sm return_det">所有入驻商家均可根据需要为您提供正规机打发票，请放心选购。</p>
                </li>
                <li>
                    <p class="lump mt_ten">有效期还有多久？</p>
                    <p class="text_black_sm return_det">所有商家均承诺所有商品的剩余有效期均不低于180天（以发货时间为准），若您收货时商品的剩余有效期不足180天可无理由拒收。</p>
                </li>
                <li>
                    <p class="lump mt_ten">使用效果怎么样？</p>
                    <p class="text_black_sm return_det">由于每个人的个体差异和发病原因不同，不同患者对同一药物的使用效果也会有所不同。药物的使用效果和副作用均以商品的说明书为准。</p>
                </li>
                <li>
                    <p class="lump mt_ten">包装和图片上的是一样的吗？</p>
                    <p class="text_black_sm return_det">商品的包装图片可能会遇到厂家换新包装的而未能及时更换，所以页面展示的图片仅供参考，请仔细核对商品名称、厂家、规格等信息进行选购，具体包装请以实物为准！</p>
                </li>
                <li>
                    <p class="lump mt_ten">我没有支付宝，可以用微信支付吗？</p>
                    <p class="text_black_sm return_det">
                        商城支持支付宝、微信支付，也支持网银支付以及银行卡快捷支付等多种方式。</p>
                </li>
                <li>
                    <p class="lump mt_ten">在线支付安全吗？商家会不会收了钱不发货？</p>
                    <p class="text_black_sm return_det">支付成功后，您的款项将由药房网商城为您保管，待您验收完毕确认收货后商家方可收到您的款项。</p>
                </li>
            </ul>
            <!-- 真伪验证 -->
            <div class="med_name mt_thirty">
                <div><span class="tu_icon4"></span></div>
                <span>药品真伪验证小常识</span>        
            </div>
            <ul class="return">
                <li>
                    <span class="fangkuai"></span><span class="juzhong">生产日期与产品批号是否匹配</span>
                    <p class="return_det">商品生产日期和产品批号都是相对应的，可以打电话到药厂，询问药品包装上的产品批号是否存在，如果没有批号，那有可能就是假药。或者找你购药的商家，要求商家出示票据和质检报告，如果商家没有，那可能就是假药。<a href="#" class="text_green_sm g_link">点击查看图片示例</a></p>
                </li>
                <li>
                    <span class="fangkuai"></span><span class="juzhong">是否开具正规零售明细发票</span>
                    <p class="return_det">发票不仅是购物完税凭证，更多的是网购交易产生纠纷时作为法律依据，是保护自身利益的有力保障，养成开发票的习惯可以大大减低维权的成本。发票上载明的信息可以对网购纠纷责任明确的界定。<a href="#" class="text_green_sm g_link">点击查看发票图片</a></p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 同类商品 -->
    <div class="similar">
        <div class="m_title">
            同类商品
        </div>
        <ul class="dis_img">
           <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
           </li> 
           <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
            <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
            <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
            <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
            <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
        </ul>
    </div>
    <!-- 大家关注的商品 -->
    <div class="similar">
        <div class="m_title">
            大家关注的商品
        </div>
        <ul class="dis_img">
           <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
           </li> 
           <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
            <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
            <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
            <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
            <li>
                <a href="#" class="yao"><img src="../img/wss.jpg" alt=""></a>
                <a href="#" class="g_link text_sm">【善存】多维元素片(29)</a>
                <p class="text_gray_sm m_sm">60片/瓶</p>
            </li> 
        </ul>
    </div>
    <my-tabs></my-tabs>
    <!-- 标签 -->
    <div class="la">
        <span class="text_gray_sm">标签：</span>
        <a href="#" class="g_link text_black_sm"> 多维元素片(29)多少钱</a>
        <a href="#" class="g_link text_black_sm">多维元素片(29)说明书 </a>
        <a href="#" class="g_link text_black_sm">多维元素片(29)价格</a>
        <a href="#" class="g_link text_black_sm"> 多维元素片(29)哪里买</a>
    </div>
    <!-- 说明书 -->
    <div class="dire">
        查找<a href="#" class="g_link">多维元素片(29)</a>说明书，多维元素片(29)频道专业提供:多维元素片(29)说明书,多维元素片(29)多少钱一瓶(一盒,一支),多维元素片(29)价格,多维元素片(29)功效与作用，多维元素片(29)效果,多维元素片(29)怎么样的信息，让用户快速及准确的查看多维元素片(29)说明书及多维元素片(29)的药品比价信息，药房网商城信息可靠、药品价低又安全。
    </div>
    <my-footer></my-footer>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/detail.js"></script>
</body>
</html>