<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>药房联盟</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/medic_sotre.css">
</head>
<body>
    <div id="app">
    <my-header></my-header>
    <!-- 主导航栏 -->
	<div class="middle">
        <div class="middle_nav">
            <ul>
                <li><a href="#">全部商品分类</a></li>
                <li><a href="#">首页</a></li>
                <li><a href="#">药品超市</a></li>
                <li><a href="#">药房联盟</a></li>
                <li><a href="#">医院大全</a></li>
                <li><a href="#">医药资讯</a></li>
                <li><a href="#">用药问答</a></li>
                <li><a href="#">商家入驻</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="city">
            <div>热点药房推荐</div>
            <ul class="nav">
                <li v-for="(city,i) of nav" :key="i" @click="change(i)">{{city}}</li>
                <!-- <li></li> -->
            </ul>
        </div>   
        <a href="#" class="banner"><img src="../img/rz.jpg" alt=""></a>
        <!-- 药房信息 -->
        <ul class="store_info" v-if="i==0">
            <li v-for="(store,i) of info" :key="i">
                <p><a to="javascript" class="title">{{store.sname}}</a></p>
                <p class="text_777_sm dian">店铺评分：<span class="xing"></span>{{store.points}}</p>
                <p class="text_777_sm dian">经营许可证：{{store.pro}}</p>
                <p class="text_777_sm dian">商家地址：{{store.add}}</p>
            </li>
        </ul>
        <ul class="store_info" v-else-if="i==1">
            <li v-for="(store,i) of sh_info" :key="i">
                <p><a to="javascript" class="title">{{store.sname}}</a></p>
                <p class="text_777_sm dian">店铺评分：<span class="xing"></span>{{store.points}}</p>
                <p class="text_777_sm dian">经营许可证：{{store.pro}}</p>
                <p class="text_777_sm dian">商家地址：{{store.add}}</p>
            </li>
        </ul>
        <ul class="store_info" v-else-if="i==2">
            <li v-for="(store,i) of info" :key="i">
                <p><a to="javascript" class="title">{{store.sname}}</a></p>
                <p class="text_777_sm dian">店铺评分：<span class="xing"></span>{{store.points}}</p>
                <p class="text_777_sm dian">经营许可证：{{store.pro}}</p>
                <p class="text_777_sm dian">商家地址：{{store.add}}</p>
            </li>
        </ul>
        <ul class="store_info" v-else-if="i==3">
            <li v-for="(store,i) of info" :key="i">
                <p><a to="javascript" class="title">{{store.sname}}</a></p>
                <p class="text_777_sm dian">店铺评分：<span class="xing"></span>{{store.points}}</p>
                <p class="text_777_sm dian">经营许可证：{{store.pro}}</p>
                <p class="text_777_sm dian">商家地址：{{store.add}}</p>
            </li>
        </ul>
        <ul class="store_info" v-else-if="i==4">
            <li v-for="(store,i) of sh_info" :key="i">
                <p><a to="javascript" class="title">{{store.sname}}</a></p>
                <p class="text_777_sm dian">店铺评分：<span class="xing"></span>{{store.points}}</p>
                <p class="text_777_sm dian">经营许可证：{{store.pro}}</p>
                <p class="text_777_sm dian">商家地址：{{store.add}}</p>
            </li>
        </ul>
        <ul class="store_info" v-else-if="i==5">
            <li v-for="(store,i) of info" :key="i">
                <p><a to="javascript" class="title">{{store.sname}}</a></p>
                <p class="text_777_sm dian">店铺评分：<span class="xing"></span>{{store.points}}</p>
                <p class="text_777_sm dian">经营许可证：{{store.pro}}</p>
                <p class="text_777_sm dian">商家地址：{{store.add}}</p>
            </li>
        </ul>
        <ul class="store_info" v-else>
            <li v-for="(store,i) of sh_info" :key="i">
                <p><a to="javascript" class="title">{{store.sname}}</a></p>
                <p class="text_777_sm dian">店铺评分：<span class="xing"></span>{{store.points}}</p>
                <p class="text_777_sm dian">经营许可证：{{store.pro}}</p>
                <p class="text_777_sm dian">商家地址：{{store.add}}</p>
            </li>
        </ul>
        <!-- 签约药房推荐 -->
        <div class="city">
            <div>签约药房推荐</div>
        </div>
        <div class="recom">
            <a class="left"></a> 
            <a class="right"></a> 
            <ul class="store_recom">
                <li>
                    <a href="#"><img src="../img/jk.jpg" alt=""></a>
                    <div>贵州幸福村大药房零售连锁有限公司</div>
                    <p>中国贵州省 黔东南州 凯里市</p>
                </li> 
                <li>
                    <a href="#"><img src="../img/jk.jpg" alt=""></a>
                    <div>贵州幸福村大药房零售连锁有限公司</div>
                    <p>中国贵州省 黔东南州 凯里市</p>
                </li> 
                <li>
                    <a href="#"><img src="../img/jk.jpg" alt=""></a>
                    <div>贵州幸福村大药房零售连锁有限公司</div>
                    <p>中国贵州省 黔东南州 凯里市</p>
                </li> 
                <li>
                    <a href="#"><img src="../img/jk.jpg" alt=""></a>
                    <div>贵州幸福村大药房零售连锁有限公司</div>
                    <p>中国贵州省 黔东南州 凯里市</p>
                </li> 
                <li>
                    <a href="#"><img src="../img/jk.jpg" alt=""></a>
                    <div>贵州幸福村大药房零售连锁有限公司</div>
                    <p>中国贵州省 黔东南州 凯里市</p>
                </li> 
                <li>
                    <a href="#"><img src="../img/jk.jpg" alt=""></a>
                    <div>贵州幸福村大药房零售连锁有限公司</div>
                    <p>中国贵州省 黔东南州 凯里市</p>
                </li> 
            </ul>
        </div>
        <!-- 实体药房 -->
        <div class="city">
            <div>中国实体药房</div>
            <ul class="nav">
                <li>
                    <a href="#">全部</a>
                    <span></span>
                </li>
                <li><a href="#">单体药店</a></li>
                <li><a href="#">连锁分店</a></li>
                <li><a href="#">连锁总店</a></li>
                <li><a href="#">批发公司</a></li>
            </ul>
        </div>
        <!--省份  -->
        <ul class="province">
           <li><a href="#" class="g_link">全国</a></li> 
           <li><a href="#" class="g_link">北京市</a></li> 
           <li><a href="#" class="g_link">天津市</a></li> 
           <li><a href="#" class="g_link">上海市</a></li> 
           <li><a href="#" class="g_link">吉林市</a></li> 
           <li><a href="#" class="g_link">黑龙江</a></li> 
           <li><a href="#" class="g_link">山西省</a></li> 
           <li><a href="#" class="g_link">内蒙古</a></li> 
           <li><a href="#" class="g_link">江苏省</a></li> 
           <li><a href="#" class="g_link">河北省</a></li> 
           <li><a href="#" class="g_link">安徽省</a></li> 
           <li><a href="#" class="g_link">浙江省</a></li> 
           <li><a href="#" class="g_link">重庆市</a></li> 
           <li><a href="#" class="g_link">辽宁省</a></li>
           <li><a href="#" class="g_link">全国</a></li> 
           <li><a href="#" class="g_link">北京市</a></li> 
           <li><a href="#" class="g_link">天津市</a></li> 
           <li><a href="#" class="g_link">上海市</a></li> 
           <li><a href="#" class="g_link">吉林市</a></li> 
           <li><a href="#" class="g_link">黑龙江</a></li> 
           <li><a href="#" class="g_link">山西省</a></li> 
           <li><a href="#" class="g_link">内蒙古</a></li> 
           <li><a href="#" class="g_link">江苏省</a></li> 
           <li><a href="#" class="g_link">河北省</a></li> 
           <li><a href="#" class="g_link">安徽省</a></li> 
           <li><a href="#" class="g_link">浙江省</a></li> 
           <li><a href="#" class="g_link">重庆市</a></li> 
           <li><a href="#" class="g_link">辽宁省</a></li> 
           <li><a href="#" class="g_link">江苏省</a></li> 
           <li><a href="#" class="g_link">河北省</a></li> 
           <li><a href="#" class="g_link">安徽省</a></li> 
           <li><a href="#" class="g_link">浙江省</a></li> 
           <li><a href="#" class="g_link">重庆市</a></li> 
           <li><a href="#" class="g_link">辽宁省</a></li> 
        </ul>
        <!-- 药店信息 -->
        <ul class="store_info">
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
            <li class="h-12">
                <p><a href="#">北京百德康药房有限公司</a></p>
                <p class="text_777_sm dian">经营许可证：京DA0818021</p>
                <p class="text_777_sm dian">商家地址：北京市海淀区中关村东路18号财智国际大厦13号商铺</p>
            </li>
        </ul>
        <!-- 分页 -->
        <ul class="page">
            <li><a href="#" class="glink">下一页</a></li>
            <li><a href="#" class="glink">...</a></li>
            <li><a href="#" class="glink">5</a></li>
            <li><a href="#" class="glink">4</a></li>
            <li><a href="#" class="glink">3</a></li>
            <li><a href="#" class="glink">2</a></li>
            <li><a href="#" class="glink">1</a></li>
            <li><a href="#" class="glink">上一页</a></li>
        </ul>
        <my-tabs></my-tabs>
    </div>
    <my-footer></my-footer>
    </div>
    <script src="../js/vue.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/medicine_store.js"></script>
</body>
</html>